<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.promotion.DiscountProductReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.DiscountProduct">
    <id column="discount_product_id" property="discountProductId" />
    <result column="goods_id" property="goodsId" />
    <result column="product_id" property="productId" />
    <result column="store_id" property="storeId" />
    <result column="is_custom_price" property="isCustomPrice" />
    <result column="discount_price" property="discountPrice" />
    <result column="spec_attr_id" property="specAttrId" />
    <result column="spec_name" property="specName" />
    <result column="stock" property="stock" />
    <result column="stock_warning" property="stockWarning" />
    <result column="state" property="state" />
    <result column="weight" property="weight" />
    <result column="volume" property="volume" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `discount_product_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.discountProductIdNotEquals != null">
          AND `discount_product_id` != #{example.discountProductIdNotEquals}
        </if>
        <if test="example.discountProductIdIn != null">
          AND `discount_product_id` in (${example.discountProductIdIn})
        </if>
        <if test="example.goodsId != null">
          AND `goods_id` = #{example.goodsId}
        </if>
        <if test="example.productId != null">
          AND `product_id` = #{example.productId}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.isCustomPrice != null">
          AND `is_custom_price` = #{example.isCustomPrice}
        </if>
        <if test="example.discountPrice != null">
          AND `discount_price` = #{example.discountPrice}
        </if>
        <if test="example.specAttrId != null">
          AND `spec_attr_id` = #{example.specAttrId}
        </if>
        <if test="example.specName != null">
          AND `spec_name` = #{example.specName}
        </if>
        <if test="example.specNameLike != null">
          AND `spec_name` like concat('%',#{example.specNameLike},'%')
        </if>
        <if test="example.stock != null">
          AND `stock` = #{example.stock}
        </if>
        <if test="example.stockWarning != null">
          AND `stock_warning` = #{example.stockWarning}
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.weight != null">
          AND `weight` = #{example.weight}
        </if>
        <if test="example.volume != null">
          AND `volume` = #{example.volume}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `discount_product_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.DiscountProductExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_discount_product`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_product`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_discount_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_discount_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>