<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.promotion.SpellTeamMemberReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.SpellTeamMember">
    <id column="spell_team_member_id" property="spellTeamMemberId" />
    <result column="spell_team_id" property="spellTeamId" />
    <result column="spell_id" property="spellId" />
    <result column="spell_goods_id" property="spellGoodsId" />
    <result column="order_sn" property="orderSn" />
    <result column="product_id" property="productId" />
    <result column="member_id" property="memberId" />
    <result column="member_name" property="memberName" />
    <result column="member_avatar" property="memberAvatar" />
    <result column="is_leader" property="isLeader" />
    <result column="participate_time" property="participateTime" />
    <result column="pay_state" property="payState" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `spell_team_member_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.spellTeamMemberIdNotEquals != null">
          AND `spell_team_member_id` != #{example.spellTeamMemberIdNotEquals}
        </if>
        <if test="example.spellTeamMemberIdIn != null">
          AND `spell_team_member_id` in (${example.spellTeamMemberIdIn})
        </if>
        <if test="example.spellTeamId != null">
          AND `spell_team_id` = #{example.spellTeamId}
        </if>
        <if test="example.spellId != null">
          AND `spell_id` = #{example.spellId}
        </if>
        <if test="example.spellGoodsId != null">
          AND `spell_goods_id` = #{example.spellGoodsId}
        </if>
        <if test="example.orderSn != null">
          AND `order_sn` = #{example.orderSn}
        </if>
        <if test="example.orderSnLike != null">
          AND `order_sn` like concat('%',#{example.orderSnLike},'%')
        </if>
        <if test="example.productId != null">
          AND `product_id` = #{example.productId}
        </if>
        <if test="example.memberId != null">
          AND `member_id` = #{example.memberId}
        </if>
        <if test="example.memberName != null">
          AND `member_name` = #{example.memberName}
        </if>
        <if test="example.memberNameLike != null">
          AND `member_name` like concat('%',#{example.memberNameLike},'%')
        </if>
        <if test="example.memberAvatar != null">
          AND `member_avatar` = #{example.memberAvatar}
        </if>
        <if test="example.isLeader != null">
          AND `is_leader` = #{example.isLeader}
        </if>
        <if test="example.participateTimeAfter != null">
          AND `participate_time` <![CDATA[ >= ]]> #{example.participateTimeAfter}
        </if>
        <if test="example.participateTimeBefore != null">
          AND `participate_time` <![CDATA[ <= ]]> #{example.participateTimeBefore}
        </if>
        <if test="example.payState != null">
          AND `pay_state` = #{example.payState}
        </if>
        <if test="example.payStateIn != null">
          AND `pay_state` in (${example.payStateIn})
        </if>
        <if test="example.payStateNotIn != null">
          AND `pay_state` not in (${example.payStateNotIn})
        </if>
        <if test="example.payStateNotEquals != null">
          AND `pay_state` != #{example.payStateNotEquals}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `spell_team_member_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.SpellTeamMemberExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_spell_team_member`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_team_member`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_team_member`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_team_member`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_spell_team_member`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_spell_team_member`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>