<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.member.MemberAddressWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.member.pojo.MemberAddress">
    <id column="address_id" property="addressId" />
    <result column="member_id" property="memberId" />
    <result column="member_name" property="memberName" />
    <result column="province_code" property="provinceCode" />
    <result column="city_code" property="cityCode" />
    <result column="post_code" property="postCode" />
    <result column="address_all" property="addressAll" />
    <result column="detail_address" property="detailAddress" />
    <result column="tel_mobile" property="telMobile" />
    <result column="tel_phone" property="telPhone" />
    <result column="is_default" property="isDefault" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="memberId != null">
        `member_id`,
      </if>
      <if test="memberName != null">
        `member_name`,
      </if>
      <if test="provinceCode != null">
        `province_code`,
      </if>
      <if test="cityCode != null">
        `city_code`,
      </if>
      <if test="postCode != null">
        `post_code`,
      </if>
      <if test="addressAll != null">
        `address_all`,
      </if>
      <if test="detailAddress != null">
        `detail_address`,
      </if>
      <if test="telMobile != null">
        `tel_mobile`,
      </if>
      <if test="telPhone != null">
        `tel_phone`,
      </if>
      <if test="isDefault != null">
        `is_default`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `address_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.addressIdNotEquals != null">
          AND `address_id` != #{example.addressIdNotEquals}
        </if>
        <if test="example.addressIdIn != null">
          AND `address_id` in (${example.addressIdIn})
        </if>
        <if test="example.memberId != null">
          AND `member_id` = #{example.memberId}
        </if>
        <if test="example.memberName != null">
          AND `member_name` = #{example.memberName}
        </if>
        <if test="example.memberNameLike != null">
          AND `member_name` like concat('%',#{example.memberNameLike},'%')
        </if>
        <if test="example.provinceCode != null">
          AND `province_code` = #{example.provinceCode}
        </if>
        <if test="example.cityCode != null">
          AND `city_code` = #{example.cityCode}
        </if>
        <if test="example.postCode != null">
          AND `post_code` = #{example.postCode}
        </if>
        <if test="example.addressAll != null">
          AND `address_all` = #{example.addressAll}
        </if>
        <if test="example.detailAddress != null">
          AND `detail_address` = #{example.detailAddress}
        </if>
        <if test="example.telMobile != null">
          AND `tel_mobile` = #{example.telMobile}
        </if>
        <if test="example.telPhone != null">
          AND `tel_phone` = #{example.telPhone}
        </if>
        <if test="example.isDefault != null">
          AND `is_default` = #{example.isDefault}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.updateTimeAfter != null">
          AND `update_time` <![CDATA[ >= ]]> #{example.updateTimeAfter}
        </if>
        <if test="example.updateTimeBefore != null">
          AND `update_time` <![CDATA[ <= ]]> #{example.updateTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `address_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.member.example.MemberAddressExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `member_address`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `member_address`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `member_address`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `member_address`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `member_address`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `member_address`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `member_address`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `member_address`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="address_id" keyProperty="addressId" parameterType="com.slodon.b2b2c.member.pojo.MemberAddress" useGeneratedKeys="true">
    INSERT INTO `member_address`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="memberId != null">
        #{memberId},
      </if>
      <if test="memberName != null">
        #{memberName},
      </if>
      <if test="provinceCode != null">
        #{provinceCode},
      </if>
      <if test="cityCode != null">
        #{cityCode},
      </if>
      <if test="postCode != null">
        #{postCode},
      </if>
      <if test="addressAll != null">
        #{addressAll},
      </if>
      <if test="detailAddress != null">
        #{detailAddress},
      </if>
      <if test="telMobile != null">
        #{telMobile},
      </if>
      <if test="telPhone != null">
        #{telPhone},
      </if>
      <if test="isDefault != null">
        #{isDefault},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `member_address`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.memberId != null">
        `member_id` = #{record.memberId},
      </if>
      <if test="record.memberName != null">
        `member_name` = #{record.memberName},
      </if>
      <if test="record.provinceCode != null">
        `province_code` = #{record.provinceCode},
      </if>
      <if test="record.cityCode != null">
        `city_code` = #{record.cityCode},
      </if>
      <if test="record.postCode != null">
        `post_code` = #{record.postCode},
      </if>
      <if test="record.addressAll != null">
        `address_all` = #{record.addressAll},
      </if>
      <if test="record.detailAddress != null">
        `detail_address` = #{record.detailAddress},
      </if>
      <if test="record.telMobile != null">
        `tel_mobile` = #{record.telMobile},
      </if>
      <if test="record.telPhone != null">
        `tel_phone` = #{record.telPhone},
      </if>
      <if test="record.isDefault != null">
        `is_default` = #{record.isDefault},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.updateTime != null">
        `update_time` = #{record.updateTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `member_address`
    <trim prefix="SET" suffixOverrides=",">
      <if test="memberId != null">
        `member_id` = #{memberId},
      </if>
      <if test="memberName != null">
        `member_name` = #{memberName},
      </if>
      <if test="provinceCode != null">
        `province_code` = #{provinceCode},
      </if>
      <if test="cityCode != null">
        `city_code` = #{cityCode},
      </if>
      <if test="postCode != null">
        `post_code` = #{postCode},
      </if>
      <if test="addressAll != null">
        `address_all` = #{addressAll},
      </if>
      <if test="detailAddress != null">
        `detail_address` = #{detailAddress},
      </if>
      <if test="telMobile != null">
        `tel_mobile` = #{telMobile},
      </if>
      <if test="telPhone != null">
        `tel_phone` = #{telPhone},
      </if>
      <if test="isDefault != null">
        `is_default` = #{isDefault},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime},
      </if>
    </trim>
    WHERE `address_id` = #{addressId}
  </update>
</mapper>