<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.integral.IntegralOrderLogWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.integral.pojo.IntegralOrderLog">
    <id column="log_id" property="logId" />
    <result column="log_role" property="logRole" />
    <result column="log_user_id" property="logUserId" />
    <result column="log_user_name" property="logUserName" />
    <result column="order_sn" property="orderSn" />
    <result column="order_state_log" property="orderStateLog" />
    <result column="log_time" property="logTime" />
    <result column="log_content" property="logContent" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="logRole != null">
        `log_role`,
      </if>
      <if test="logUserId != null">
        `log_user_id`,
      </if>
      <if test="logUserName != null">
        `log_user_name`,
      </if>
      <if test="orderSn != null">
        `order_sn`,
      </if>
      <if test="orderStateLog != null">
        `order_state_log`,
      </if>
      <if test="logTime != null">
        `log_time`,
      </if>
      <if test="logContent != null">
        `log_content`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `log_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.logIdNotEquals != null">
          AND `log_id` != #{example.logIdNotEquals}
        </if>
        <if test="example.logIdIn != null">
          AND `log_id` in (${example.logIdIn})
        </if>
        <if test="example.logRole != null">
          AND `log_role` = #{example.logRole}
        </if>
        <if test="example.logUserId != null">
          AND `log_user_id` = #{example.logUserId}
        </if>
        <if test="example.logUserName != null">
          AND `log_user_name` = #{example.logUserName}
        </if>
        <if test="example.logUserNameLike != null">
          AND `log_user_name` like concat('%',#{example.logUserNameLike},'%')
        </if>
        <if test="example.orderSn != null">
          AND `order_sn` = #{example.orderSn}
        </if>
        <if test="example.orderSnLike != null">
          AND `order_sn` like concat('%',#{example.orderSnLike},'%')
        </if>
        <if test="example.orderStateLog != null">
          AND `order_state_log` = #{example.orderStateLog}
        </if>
        <if test="example.orderStateLogIn != null">
          AND `order_state_log` in (${example.orderStateLogIn})
        </if>
        <if test="example.orderStateLogNotIn != null">
          AND `order_state_log` not in (${example.orderStateLogNotIn})
        </if>
        <if test="example.orderStateLogNotEquals != null">
          AND `order_state_log` != #{example.orderStateLogNotEquals}
        </if>
        <if test="example.logTimeAfter != null">
          AND `log_time` <![CDATA[ >= ]]> #{example.logTimeAfter}
        </if>
        <if test="example.logTimeBefore != null">
          AND `log_time` <![CDATA[ <= ]]> #{example.logTimeBefore}
        </if>
        <if test="example.logContent != null">
          AND `log_content` = #{example.logContent}
        </if>
        <if test="example.logContentLike != null">
          AND `log_content` like concat('%',#{example.logContentLike},'%')
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `log_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.integral.example.IntegralOrderLogExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `integral_order_log`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `integral_order_log`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `integral_order_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `integral_order_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `integral_order_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `integral_order_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `integral_order_log`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `integral_order_log`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="log_id" keyProperty="logId" parameterType="com.slodon.b2b2c.integral.pojo.IntegralOrderLog" useGeneratedKeys="true">
    INSERT INTO `integral_order_log`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="logRole != null">
        #{logRole},
      </if>
      <if test="logUserId != null">
        #{logUserId},
      </if>
      <if test="logUserName != null">
        #{logUserName},
      </if>
      <if test="orderSn != null">
        #{orderSn},
      </if>
      <if test="orderStateLog != null">
        #{orderStateLog},
      </if>
      <if test="logTime != null">
        #{logTime},
      </if>
      <if test="logContent != null">
        #{logContent},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `integral_order_log`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.logRole != null">
        `log_role` = #{record.logRole},
      </if>
      <if test="record.logUserId != null">
        `log_user_id` = #{record.logUserId},
      </if>
      <if test="record.logUserName != null">
        `log_user_name` = #{record.logUserName},
      </if>
      <if test="record.orderSn != null">
        `order_sn` = #{record.orderSn},
      </if>
      <if test="record.orderStateLog != null">
        `order_state_log` = #{record.orderStateLog},
      </if>
      <if test="record.logTime != null">
        `log_time` = #{record.logTime},
      </if>
      <if test="record.logContent != null">
        `log_content` = #{record.logContent},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `integral_order_log`
    <trim prefix="SET" suffixOverrides=",">
      <if test="logRole != null">
        `log_role` = #{logRole},
      </if>
      <if test="logUserId != null">
        `log_user_id` = #{logUserId},
      </if>
      <if test="logUserName != null">
        `log_user_name` = #{logUserName},
      </if>
      <if test="orderSn != null">
        `order_sn` = #{orderSn},
      </if>
      <if test="orderStateLog != null">
        `order_state_log` = #{orderStateLog},
      </if>
      <if test="logTime != null">
        `log_time` = #{logTime},
      </if>
      <if test="logContent != null">
        `log_content` = #{logContent},
      </if>
    </trim>
    WHERE `log_id` = #{logId}
  </update>
</mapper>