<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.integral.IntegralBillLogWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.integral.pojo.IntegralBillLog">
    <id column="log_id" property="logId" />
    <result column="bill_sn" property="billSn" />
    <result column="operator_id" property="operatorId" />
    <result column="operator_name" property="operatorName" />
    <result column="operator_role" property="operatorRole" />
    <result column="state" property="state" />
    <result column="content" property="content" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="billSn != null">
        `bill_sn`,
      </if>
      <if test="operatorId != null">
        `operator_id`,
      </if>
      <if test="operatorName != null">
        `operator_name`,
      </if>
      <if test="operatorRole != null">
        `operator_role`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="content != null">
        `content`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `log_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.logIdNotEquals != null">
          AND `log_id` != #{example.logIdNotEquals}
        </if>
        <if test="example.logIdIn != null">
          AND `log_id` in (${example.logIdIn})
        </if>
        <if test="example.billSn != null">
          AND `bill_sn` = #{example.billSn}
        </if>
        <if test="example.billSnLike != null">
          AND `bill_sn` like concat('%',#{example.billSnLike},'%')
        </if>
        <if test="example.operatorId != null">
          AND `operator_id` = #{example.operatorId}
        </if>
        <if test="example.operatorName != null">
          AND `operator_name` = #{example.operatorName}
        </if>
        <if test="example.operatorNameLike != null">
          AND `operator_name` like concat('%',#{example.operatorNameLike},'%')
        </if>
        <if test="example.operatorRole != null">
          AND `operator_role` = #{example.operatorRole}
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.stateIn != null">
          AND `state` in (${example.stateIn})
        </if>
        <if test="example.stateNotIn != null">
          AND `state` not in (${example.stateNotIn})
        </if>
        <if test="example.stateNotEquals != null">
          AND `state` != #{example.stateNotEquals}
        </if>
        <if test="example.content != null">
          AND `content` = #{example.content}
        </if>
        <if test="example.contentLike != null">
          AND `content` like concat('%',#{example.contentLike},'%')
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `log_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.integral.example.IntegralBillLogExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `integral_bill_log`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `integral_bill_log`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `integral_bill_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `integral_bill_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `integral_bill_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `integral_bill_log`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `integral_bill_log`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `integral_bill_log`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="log_id" keyProperty="logId" parameterType="com.slodon.b2b2c.integral.pojo.IntegralBillLog" useGeneratedKeys="true">
    INSERT INTO `integral_bill_log`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="billSn != null">
        #{billSn},
      </if>
      <if test="operatorId != null">
        #{operatorId},
      </if>
      <if test="operatorName != null">
        #{operatorName},
      </if>
      <if test="operatorRole != null">
        #{operatorRole},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `integral_bill_log`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.billSn != null">
        `bill_sn` = #{record.billSn},
      </if>
      <if test="record.operatorId != null">
        `operator_id` = #{record.operatorId},
      </if>
      <if test="record.operatorName != null">
        `operator_name` = #{record.operatorName},
      </if>
      <if test="record.operatorRole != null">
        `operator_role` = #{record.operatorRole},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
      <if test="record.content != null">
        `content` = #{record.content},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `integral_bill_log`
    <trim prefix="SET" suffixOverrides=",">
      <if test="billSn != null">
        `bill_sn` = #{billSn},
      </if>
      <if test="operatorId != null">
        `operator_id` = #{operatorId},
      </if>
      <if test="operatorName != null">
        `operator_name` = #{operatorName},
      </if>
      <if test="operatorRole != null">
        `operator_role` = #{operatorRole},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="content != null">
        `content` = #{content},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
    </trim>
    WHERE `log_id` = #{logId}
  </update>
</mapper>