<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.seller.StoreLabelBindGoodsWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.seller.pojo.StoreLabelBindGoods">
    <id column="bind_id" property="bindId" />
    <result column="inner_label_id" property="innerLabelId" />
    <result column="goods_id" property="goodsId" />
    <result column="store_id" property="storeId" />
    <result column="bind_time" property="bindTime" />
    <result column="bind_vendor_id" property="bindVendorId" />
    <result column="bind_vendor_name" property="bindVendorName" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="innerLabelId != null">
        `inner_label_id`,
      </if>
      <if test="goodsId != null">
        `goods_id`,
      </if>
      <if test="storeId != null">
        `store_id`,
      </if>
      <if test="bindTime != null">
        `bind_time`,
      </if>
      <if test="bindVendorId != null">
        `bind_vendor_id`,
      </if>
      <if test="bindVendorName != null">
        `bind_vendor_name`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `bind_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.bindIdNotEquals != null">
          AND `bind_id` != #{example.bindIdNotEquals}
        </if>
        <if test="example.bindIdIn != null">
          AND `bind_id` in (${example.bindIdIn})
        </if>
        <if test="example.innerLabelId != null">
          AND `inner_label_id` = #{example.innerLabelId}
        </if>
        <if test="example.goodsId != null">
          AND `goods_id` = #{example.goodsId}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.bindTimeAfter != null">
          AND `bind_time` <![CDATA[ >= ]]> #{example.bindTimeAfter}
        </if>
        <if test="example.bindTimeBefore != null">
          AND `bind_time` <![CDATA[ <= ]]> #{example.bindTimeBefore}
        </if>
        <if test="example.bindVendorId != null">
          AND `bind_vendor_id` = #{example.bindVendorId}
        </if>
        <if test="example.bindVendorName != null">
          AND `bind_vendor_name` = #{example.bindVendorName}
        </if>
        <if test="example.bindVendorNameLike != null">
          AND `bind_vendor_name` like concat('%',#{example.bindVendorNameLike},'%')
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `bind_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.seller.example.StoreLabelBindGoodsExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `store_label_bind_goods`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `store_label_bind_goods`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_label_bind_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_label_bind_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_label_bind_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_label_bind_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `store_label_bind_goods`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `store_label_bind_goods`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="bind_id" keyProperty="bindId" parameterType="com.slodon.b2b2c.seller.pojo.StoreLabelBindGoods" useGeneratedKeys="true">
    INSERT INTO `store_label_bind_goods`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="innerLabelId != null">
        #{innerLabelId},
      </if>
      <if test="goodsId != null">
        #{goodsId},
      </if>
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="bindTime != null">
        #{bindTime},
      </if>
      <if test="bindVendorId != null">
        #{bindVendorId},
      </if>
      <if test="bindVendorName != null">
        #{bindVendorName},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `store_label_bind_goods`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.innerLabelId != null">
        `inner_label_id` = #{record.innerLabelId},
      </if>
      <if test="record.goodsId != null">
        `goods_id` = #{record.goodsId},
      </if>
      <if test="record.storeId != null">
        `store_id` = #{record.storeId},
      </if>
      <if test="record.bindTime != null">
        `bind_time` = #{record.bindTime},
      </if>
      <if test="record.bindVendorId != null">
        `bind_vendor_id` = #{record.bindVendorId},
      </if>
      <if test="record.bindVendorName != null">
        `bind_vendor_name` = #{record.bindVendorName},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `store_label_bind_goods`
    <trim prefix="SET" suffixOverrides=",">
      <if test="innerLabelId != null">
        `inner_label_id` = #{innerLabelId},
      </if>
      <if test="goodsId != null">
        `goods_id` = #{goodsId},
      </if>
      <if test="storeId != null">
        `store_id` = #{storeId},
      </if>
      <if test="bindTime != null">
        `bind_time` = #{bindTime},
      </if>
      <if test="bindVendorId != null">
        `bind_vendor_id` = #{bindVendorId},
      </if>
      <if test="bindVendorName != null">
        `bind_vendor_name` = #{bindVendorName},
      </if>
    </trim>
    WHERE `bind_id` = #{bindId}
  </update>
</mapper>