<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.seller.StoreWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.seller.pojo.Store">
    <id column="store_id" property="storeId" />
    <result column="store_name" property="storeName" />
    <result column="store_logo" property="storeLogo" />
    <result column="store_grade_id" property="storeGradeId" />
    <result column="store_grade_name" property="storeGradeName" />
    <result column="store_seo_keyword" property="storeSeoKeyword" />
    <result column="store_seo_desc" property="storeSeoDesc" />
    <result column="service_score" property="serviceScore" />
    <result column="deliver_score" property="deliverScore" />
    <result column="description_score" property="descriptionScore" />
    <result column="goods_number" property="goodsNumber" />
    <result column="follow_number" property="followNumber" />
    <result column="create_time" property="createTime" />
    <result column="store_expire_time" property="storeExpireTime" />
    <result column="store_total_sale" property="storeTotalSale" />
    <result column="order_total_count" property="orderTotalCount" />
    <result column="order_finished_count" property="orderFinishedCount" />
    <result column="state" property="state" />
    <result column="is_own_store" property="isOwnStore" />
    <result column="store_category_id" property="storeCategoryId" />
    <result column="store_category_name" property="storeCategoryName" />
    <result column="main_business" property="mainBusiness" />
    <result column="service_phone" property="servicePhone" />
    <result column="open_time" property="openTime" />
    <result column="is_recommend" property="isRecommend" />
    <result column="service_detail" property="serviceDetail" />
    <result column="store_banner_pc" property="storeBannerPc" />
    <result column="store_banner_mobile" property="storeBannerMobile" />
    <result column="store_backdrop" property="storeBackdrop" />
    <result column="province_code" property="provinceCode" />
    <result column="city_code" property="cityCode" />
    <result column="area_code" property="areaCode" />
    <result column="area_info" property="areaInfo" />
    <result column="address" property="address" />
    <result column="bill_type" property="billType" />
    <result column="bill_day" property="billDay" />
    <result column="free_freight_limit" property="freeFreightLimit" />
    <result column="store_sales_volume" property="storeSalesVolume" />
    <result column="store_look_volume" property="storeLookVolume" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="storeId != null">
        `store_id`,
      </if>
      <if test="storeName != null">
        `store_name`,
      </if>
      <if test="storeLogo != null">
        `store_logo`,
      </if>
      <if test="storeGradeId != null">
        `store_grade_id`,
      </if>
      <if test="storeGradeName != null">
        `store_grade_name`,
      </if>
      <if test="storeSeoKeyword != null">
        `store_seo_keyword`,
      </if>
      <if test="storeSeoDesc != null">
        `store_seo_desc`,
      </if>
      <if test="serviceScore != null">
        `service_score`,
      </if>
      <if test="deliverScore != null">
        `deliver_score`,
      </if>
      <if test="descriptionScore != null">
        `description_score`,
      </if>
      <if test="goodsNumber != null">
        `goods_number`,
      </if>
      <if test="followNumber != null">
        `follow_number`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="storeExpireTime != null">
        `store_expire_time`,
      </if>
      <if test="storeTotalSale != null">
        `store_total_sale`,
      </if>
      <if test="orderTotalCount != null">
        `order_total_count`,
      </if>
      <if test="orderFinishedCount != null">
        `order_finished_count`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="isOwnStore != null">
        `is_own_store`,
      </if>
      <if test="storeCategoryId != null">
        `store_category_id`,
      </if>
      <if test="storeCategoryName != null">
        `store_category_name`,
      </if>
      <if test="mainBusiness != null">
        `main_business`,
      </if>
      <if test="servicePhone != null">
        `service_phone`,
      </if>
      <if test="openTime != null">
        `open_time`,
      </if>
      <if test="isRecommend != null">
        `is_recommend`,
      </if>
      <if test="serviceDetail != null">
        `service_detail`,
      </if>
      <if test="storeBannerPc != null">
        `store_banner_pc`,
      </if>
      <if test="storeBannerMobile != null">
        `store_banner_mobile`,
      </if>
      <if test="storeBackdrop != null">
        `store_backdrop`,
      </if>
      <if test="provinceCode != null">
        `province_code`,
      </if>
      <if test="cityCode != null">
        `city_code`,
      </if>
      <if test="areaCode != null">
        `area_code`,
      </if>
      <if test="areaInfo != null">
        `area_info`,
      </if>
      <if test="address != null">
        `address`,
      </if>
      <if test="billType != null">
        `bill_type`,
      </if>
      <if test="billDay != null">
        `bill_day`,
      </if>
      <if test="freeFreightLimit != null">
        `free_freight_limit`,
      </if>
      <if test="storeSalesVolume != null">
        `store_sales_volume`,
      </if>
      <if test="storeLookVolume != null">
        `store_look_volume`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `store_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.storeIdNotEquals != null">
          AND `store_id` != #{example.storeIdNotEquals}
        </if>
        <if test="example.storeIdIn != null">
          AND `store_id` in (${example.storeIdIn})
        </if>
        <if test="example.storeName != null">
          AND `store_name` = #{example.storeName}
        </if>
        <if test="example.storeNameLike != null">
          AND `store_name` like concat('%',#{example.storeNameLike},'%')
        </if>
        <if test="example.storeLogo != null">
          AND `store_logo` = #{example.storeLogo}
        </if>
        <if test="example.storeGradeId != null">
          AND `store_grade_id` = #{example.storeGradeId}
        </if>
        <if test="example.storeGradeName != null">
          AND `store_grade_name` = #{example.storeGradeName}
        </if>
        <if test="example.storeGradeNameLike != null">
          AND `store_grade_name` like concat('%',#{example.storeGradeNameLike},'%')
        </if>
        <if test="example.storeSeoKeyword != null">
          AND `store_seo_keyword` = #{example.storeSeoKeyword}
        </if>
        <if test="example.storeSeoDesc != null">
          AND `store_seo_desc` = #{example.storeSeoDesc}
        </if>
        <if test="example.serviceScore != null">
          AND `service_score` = #{example.serviceScore}
        </if>
        <if test="example.deliverScore != null">
          AND `deliver_score` = #{example.deliverScore}
        </if>
        <if test="example.descriptionScore != null">
          AND `description_score` = #{example.descriptionScore}
        </if>
        <if test="example.goodsNumber != null">
          AND `goods_number` = #{example.goodsNumber}
        </if>
        <if test="example.goodsNumberLike != null">
          AND `goods_number` like concat('%',#{example.goodsNumberLike},'%')
        </if>
        <if test="example.followNumber != null">
          AND `follow_number` = #{example.followNumber}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.storeExpireTimeAfter != null">
          AND `store_expire_time` <![CDATA[ >= ]]> #{example.storeExpireTimeAfter}
        </if>
        <if test="example.storeExpireTimeBefore != null">
          AND `store_expire_time` <![CDATA[ <= ]]> #{example.storeExpireTimeBefore}
        </if>
        <if test="example.storeTotalSale != null">
          AND `store_total_sale` = #{example.storeTotalSale}
        </if>
        <if test="example.orderTotalCount != null">
          AND `order_total_count` = #{example.orderTotalCount}
        </if>
        <if test="example.orderFinishedCount != null">
          AND `order_finished_count` = #{example.orderFinishedCount}
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.isOwnStore != null">
          AND `is_own_store` = #{example.isOwnStore}
        </if>
        <if test="example.storeCategoryId != null">
          AND `store_category_id` = #{example.storeCategoryId}
        </if>
        <if test="example.storeCategoryName != null">
          AND `store_category_name` = #{example.storeCategoryName}
        </if>
        <if test="example.storeCategoryNameLike != null">
          AND `store_category_name` like concat('%',#{example.storeCategoryNameLike},'%')
        </if>
        <if test="example.mainBusiness != null">
          AND `main_business` = #{example.mainBusiness}
        </if>
        <if test="example.servicePhone != null">
          AND `service_phone` = #{example.servicePhone}
        </if>
        <if test="example.openTime != null">
          AND `open_time` = #{example.openTime}
        </if>
        <if test="example.isRecommend != null">
          AND `is_recommend` = #{example.isRecommend}
        </if>
        <if test="example.serviceDetail != null">
          AND `service_detail` = #{example.serviceDetail}
        </if>
        <if test="example.storeBannerPc != null">
          AND `store_banner_pc` = #{example.storeBannerPc}
        </if>
        <if test="example.storeBannerMobile != null">
          AND `store_banner_mobile` = #{example.storeBannerMobile}
        </if>
        <if test="example.storeBackdrop != null">
          AND `store_backdrop` = #{example.storeBackdrop}
        </if>
        <if test="example.provinceCode != null">
          AND `province_code` = #{example.provinceCode}
        </if>
        <if test="example.cityCode != null">
          AND `city_code` = #{example.cityCode}
        </if>
        <if test="example.areaCode != null">
          AND `area_code` = #{example.areaCode}
        </if>
        <if test="example.areaInfo != null">
          AND `area_info` = #{example.areaInfo}
        </if>
        <if test="example.address != null">
          AND `address` = #{example.address}
        </if>
        <if test="example.billType != null">
          AND `bill_type` = #{example.billType}
        </if>
        <if test="example.billDay != null">
          AND `bill_day` = #{example.billDay}
        </if>
        <if test="example.freeFreightLimit != null">
          AND `free_freight_limit` = #{example.freeFreightLimit}
        </if>
        <if test="example.storeSalesVolume != null">
          AND `store_sales_volume` = #{example.storeSalesVolume}
        </if>
        <if test="example.storeLookVolume != null">
          AND `store_look_volume` = #{example.storeLookVolume}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `store_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.seller.example.StoreExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `store`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `store`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `store`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `store`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="store_id" keyProperty="storeId" parameterType="com.slodon.b2b2c.seller.pojo.Store" useGeneratedKeys="true">
    INSERT INTO `store`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="storeName != null">
        #{storeName},
      </if>
      <if test="storeLogo != null">
        #{storeLogo},
      </if>
      <if test="storeGradeId != null">
        #{storeGradeId},
      </if>
      <if test="storeGradeName != null">
        #{storeGradeName},
      </if>
      <if test="storeSeoKeyword != null">
        #{storeSeoKeyword},
      </if>
      <if test="storeSeoDesc != null">
        #{storeSeoDesc},
      </if>
      <if test="serviceScore != null">
        #{serviceScore},
      </if>
      <if test="deliverScore != null">
        #{deliverScore},
      </if>
      <if test="descriptionScore != null">
        #{descriptionScore},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber},
      </if>
      <if test="followNumber != null">
        #{followNumber},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="storeExpireTime != null">
        #{storeExpireTime},
      </if>
      <if test="storeTotalSale != null">
        #{storeTotalSale},
      </if>
      <if test="orderTotalCount != null">
        #{orderTotalCount},
      </if>
      <if test="orderFinishedCount != null">
        #{orderFinishedCount},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="isOwnStore != null">
        #{isOwnStore},
      </if>
      <if test="storeCategoryId != null">
        #{storeCategoryId},
      </if>
      <if test="storeCategoryName != null">
        #{storeCategoryName},
      </if>
      <if test="mainBusiness != null">
        #{mainBusiness},
      </if>
      <if test="servicePhone != null">
        #{servicePhone},
      </if>
      <if test="openTime != null">
        #{openTime},
      </if>
      <if test="isRecommend != null">
        #{isRecommend},
      </if>
      <if test="serviceDetail != null">
        #{serviceDetail},
      </if>
      <if test="storeBannerPc != null">
        #{storeBannerPc},
      </if>
      <if test="storeBannerMobile != null">
        #{storeBannerMobile},
      </if>
      <if test="storeBackdrop != null">
        #{storeBackdrop},
      </if>
      <if test="provinceCode != null">
        #{provinceCode},
      </if>
      <if test="cityCode != null">
        #{cityCode},
      </if>
      <if test="areaCode != null">
        #{areaCode},
      </if>
      <if test="areaInfo != null">
        #{areaInfo},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="billType != null">
        #{billType},
      </if>
      <if test="billDay != null">
        #{billDay},
      </if>
      <if test="freeFreightLimit != null">
        #{freeFreightLimit},
      </if>
      <if test="storeSalesVolume != null">
        #{storeSalesVolume},
      </if>
      <if test="storeLookVolume != null">
        #{storeLookVolume},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `store`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.storeName != null">
        `store_name` = #{record.storeName},
      </if>
      <if test="record.storeLogo != null">
        `store_logo` = #{record.storeLogo},
      </if>
      <if test="record.storeGradeId != null">
        `store_grade_id` = #{record.storeGradeId},
      </if>
      <if test="record.storeGradeName != null">
        `store_grade_name` = #{record.storeGradeName},
      </if>
      <if test="record.storeSeoKeyword != null">
        `store_seo_keyword` = #{record.storeSeoKeyword},
      </if>
      <if test="record.storeSeoDesc != null">
        `store_seo_desc` = #{record.storeSeoDesc},
      </if>
      <if test="record.serviceScore != null">
        `service_score` = #{record.serviceScore},
      </if>
      <if test="record.deliverScore != null">
        `deliver_score` = #{record.deliverScore},
      </if>
      <if test="record.descriptionScore != null">
        `description_score` = #{record.descriptionScore},
      </if>
      <if test="record.goodsNumber != null">
        `goods_number` = #{record.goodsNumber},
      </if>
      <if test="record.followNumber != null">
        `follow_number` = #{record.followNumber},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.storeExpireTime != null">
        `store_expire_time` = #{record.storeExpireTime},
      </if>
      <if test="record.storeTotalSale != null">
        `store_total_sale` = #{record.storeTotalSale},
      </if>
      <if test="record.orderTotalCount != null">
        `order_total_count` = #{record.orderTotalCount},
      </if>
      <if test="record.orderFinishedCount != null">
        `order_finished_count` = #{record.orderFinishedCount},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
      <if test="record.isOwnStore != null">
        `is_own_store` = #{record.isOwnStore},
      </if>
      <if test="record.storeCategoryId != null">
        `store_category_id` = #{record.storeCategoryId},
      </if>
      <if test="record.storeCategoryName != null">
        `store_category_name` = #{record.storeCategoryName},
      </if>
      <if test="record.mainBusiness != null">
        `main_business` = #{record.mainBusiness},
      </if>
      <if test="record.servicePhone != null">
        `service_phone` = #{record.servicePhone},
      </if>
      <if test="record.openTime != null">
        `open_time` = #{record.openTime},
      </if>
      <if test="record.isRecommend != null">
        `is_recommend` = #{record.isRecommend},
      </if>
      <if test="record.serviceDetail != null">
        `service_detail` = #{record.serviceDetail},
      </if>
      <if test="record.storeBannerPc != null">
        `store_banner_pc` = #{record.storeBannerPc},
      </if>
      <if test="record.storeBannerMobile != null">
        `store_banner_mobile` = #{record.storeBannerMobile},
      </if>
      <if test="record.storeBackdrop != null">
        `store_backdrop` = #{record.storeBackdrop},
      </if>
      <if test="record.provinceCode != null">
        `province_code` = #{record.provinceCode},
      </if>
      <if test="record.cityCode != null">
        `city_code` = #{record.cityCode},
      </if>
      <if test="record.areaCode != null">
        `area_code` = #{record.areaCode},
      </if>
      <if test="record.areaInfo != null">
        `area_info` = #{record.areaInfo},
      </if>
      <if test="record.address != null">
        `address` = #{record.address},
      </if>
      <if test="record.billType != null">
        `bill_type` = #{record.billType},
      </if>
      <if test="record.billDay != null">
        `bill_day` = #{record.billDay},
      </if>
      <if test="record.freeFreightLimit != null">
        `free_freight_limit` = #{record.freeFreightLimit},
      </if>
      <if test="record.storeSalesVolume != null">
        `store_sales_volume` = #{record.storeSalesVolume},
      </if>
      <if test="record.storeLookVolume != null">
        `store_look_volume` = #{record.storeLookVolume},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `store`
    <trim prefix="SET" suffixOverrides=",">
      <if test="storeName != null">
        `store_name` = #{storeName},
      </if>
      <if test="storeLogo != null">
        `store_logo` = #{storeLogo},
      </if>
      <if test="storeGradeId != null">
        `store_grade_id` = #{storeGradeId},
      </if>
      <if test="storeGradeName != null">
        `store_grade_name` = #{storeGradeName},
      </if>
      <if test="storeSeoKeyword != null">
        `store_seo_keyword` = #{storeSeoKeyword},
      </if>
      <if test="storeSeoDesc != null">
        `store_seo_desc` = #{storeSeoDesc},
      </if>
      <if test="serviceScore != null">
        `service_score` = #{serviceScore},
      </if>
      <if test="deliverScore != null">
        `deliver_score` = #{deliverScore},
      </if>
      <if test="descriptionScore != null">
        `description_score` = #{descriptionScore},
      </if>
      <if test="goodsNumber != null">
        `goods_number` = #{goodsNumber},
      </if>
      <if test="followNumber != null">
        `follow_number` = #{followNumber},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="storeExpireTime != null">
        `store_expire_time` = #{storeExpireTime},
      </if>
      <if test="storeTotalSale != null">
        `store_total_sale` = #{storeTotalSale},
      </if>
      <if test="orderTotalCount != null">
        `order_total_count` = #{orderTotalCount},
      </if>
      <if test="orderFinishedCount != null">
        `order_finished_count` = #{orderFinishedCount},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="isOwnStore != null">
        `is_own_store` = #{isOwnStore},
      </if>
      <if test="storeCategoryId != null">
        `store_category_id` = #{storeCategoryId},
      </if>
      <if test="storeCategoryName != null">
        `store_category_name` = #{storeCategoryName},
      </if>
      <if test="mainBusiness != null">
        `main_business` = #{mainBusiness},
      </if>
      <if test="servicePhone != null">
        `service_phone` = #{servicePhone},
      </if>
      <if test="openTime != null">
        `open_time` = #{openTime},
      </if>
      <if test="isRecommend != null">
        `is_recommend` = #{isRecommend},
      </if>
      <if test="serviceDetail != null">
        `service_detail` = #{serviceDetail},
      </if>
      <if test="storeBannerPc != null">
        `store_banner_pc` = #{storeBannerPc},
      </if>
      <if test="storeBannerMobile != null">
        `store_banner_mobile` = #{storeBannerMobile},
      </if>
      <if test="storeBackdrop != null">
        `store_backdrop` = #{storeBackdrop},
      </if>
      <if test="provinceCode != null">
        `province_code` = #{provinceCode},
      </if>
      <if test="cityCode != null">
        `city_code` = #{cityCode},
      </if>
      <if test="areaCode != null">
        `area_code` = #{areaCode},
      </if>
      <if test="areaInfo != null">
        `area_info` = #{areaInfo},
      </if>
      <if test="address != null">
        `address` = #{address},
      </if>
      <if test="billType != null">
        `bill_type` = #{billType},
      </if>
      <if test="billDay != null">
        `bill_day` = #{billDay},
      </if>
      <if test="freeFreightLimit != null">
        `free_freight_limit` = #{freeFreightLimit},
      </if>
      <if test="storeSalesVolume != null">
        `store_sales_volume` = #{storeSalesVolume},
      </if>
      <if test="storeLookVolume != null">
        `store_look_volume` = #{storeLookVolume},
      </if>
    </trim>
    WHERE `store_id` = #{storeId}
  </update>
</mapper>