<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.seller.StoreBindExpressWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.seller.pojo.StoreBindExpress">
    <id column="bind_id" property="bindId" />
    <result column="store_id" property="storeId" />
    <result column="express_id" property="expressId" />
    <result column="express_name" property="expressName" />
    <result column="express_state" property="expressState" />
    <result column="create_time" property="createTime" />
    <result column="express_code" property="expressCode" />
    <result column="express_website" property="expressWebsite" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="storeId != null">
        `store_id`,
      </if>
      <if test="expressId != null">
        `express_id`,
      </if>
      <if test="expressName != null">
        `express_name`,
      </if>
      <if test="expressState != null">
        `express_state`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="expressCode != null">
        `express_code`,
      </if>
      <if test="expressWebsite != null">
        `express_website`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `bind_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.bindIdNotEquals != null">
          AND `bind_id` != #{example.bindIdNotEquals}
        </if>
        <if test="example.bindIdIn != null">
          AND `bind_id` in (${example.bindIdIn})
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.expressId != null">
          AND `express_id` = #{example.expressId}
        </if>
        <if test="example.expressName != null">
          AND `express_name` = #{example.expressName}
        </if>
        <if test="example.expressNameLike != null">
          AND `express_name` like concat('%',#{example.expressNameLike},'%')
        </if>
        <if test="example.expressState != null">
          AND `express_state` = #{example.expressState}
        </if>
        <if test="example.expressStateIn != null">
          AND `express_state` in (${example.expressStateIn})
        </if>
        <if test="example.expressStateNotIn != null">
          AND `express_state` not in (${example.expressStateNotIn})
        </if>
        <if test="example.expressStateNotEquals != null">
          AND `express_state` != #{example.expressStateNotEquals}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.expressCode != null">
          AND `express_code` = #{example.expressCode}
        </if>
        <if test="example.expressWebsite != null">
          AND `express_website` = #{example.expressWebsite}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `bind_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.seller.example.StoreBindExpressExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `store_bind_express`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `store_bind_express`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_bind_express`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_bind_express`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_bind_express`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_bind_express`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `store_bind_express`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `store_bind_express`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="bind_id" keyProperty="bindId" parameterType="com.slodon.b2b2c.seller.pojo.StoreBindExpress" useGeneratedKeys="true">
    INSERT INTO `store_bind_express`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="expressId != null">
        #{expressId},
      </if>
      <if test="expressName != null">
        #{expressName},
      </if>
      <if test="expressState != null">
        #{expressState},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="expressCode != null">
        #{expressCode},
      </if>
      <if test="expressWebsite != null">
        #{expressWebsite},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `store_bind_express`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.storeId != null">
        `store_id` = #{record.storeId},
      </if>
      <if test="record.expressId != null">
        `express_id` = #{record.expressId},
      </if>
      <if test="record.expressName != null">
        `express_name` = #{record.expressName},
      </if>
      <if test="record.expressState != null">
        `express_state` = #{record.expressState},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.expressCode != null">
        `express_code` = #{record.expressCode},
      </if>
      <if test="record.expressWebsite != null">
        `express_website` = #{record.expressWebsite},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `store_bind_express`
    <trim prefix="SET" suffixOverrides=",">
      <if test="storeId != null">
        `store_id` = #{storeId},
      </if>
      <if test="expressId != null">
        `express_id` = #{expressId},
      </if>
      <if test="expressName != null">
        `express_name` = #{expressName},
      </if>
      <if test="expressState != null">
        `express_state` = #{expressState},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="expressCode != null">
        `express_code` = #{expressCode},
      </if>
      <if test="expressWebsite != null">
        `express_website` = #{expressWebsite},
      </if>
    </trim>
    WHERE `bind_id` = #{bindId}
  </update>
</mapper>