<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.seller.StoreInnerLabelReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.seller.pojo.StoreInnerLabel">
    <id column="inner_label_id" property="innerLabelId" />
    <result column="inner_label_name" property="innerLabelName" />
    <result column="inner_label_sort" property="innerLabelSort" />
    <result column="is_show" property="isShow" />
    <result column="parent_inner_label_id" property="parentInnerLabelId" />
    <result column="store_id" property="storeId" />
    <result column="create_time" property="createTime" />
    <result column="create_vendor_id" property="createVendorId" />
    <result column="create_vendor_name" property="createVendorName" />
    <result column="update_time" property="updateTime" />
    <result column="update_vendor_id" property="updateVendorId" />
    <result column="update_vendor_name" property="updateVendorName" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `inner_label_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.innerLabelIdNotEquals != null">
          AND `inner_label_id` != #{example.innerLabelIdNotEquals}
        </if>
        <if test="example.innerLabelIdIn != null">
          AND `inner_label_id` in (${example.innerLabelIdIn})
        </if>
        <if test="example.innerLabelId != null">
          AND `inner_label_id` = #{example.innerLabelId}
        </if>
        <if test="example.innerLabelName != null">
          AND `inner_label_name` = #{example.innerLabelName}
        </if>
        <if test="example.innerLabelNameLike != null">
          AND `inner_label_name` like concat('%',#{example.innerLabelNameLike},'%')
        </if>
        <if test="example.innerLabelSort != null">
          AND `inner_label_sort` = #{example.innerLabelSort}
        </if>
        <if test="example.isShow != null">
          AND `is_show` = #{example.isShow}
        </if>
        <if test="example.parentInnerLabelId != null">
          AND `parent_inner_label_id` = #{example.parentInnerLabelId}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.createVendorId != null">
          AND `create_vendor_id` = #{example.createVendorId}
        </if>
        <if test="example.createVendorName != null">
          AND `create_vendor_name` = #{example.createVendorName}
        </if>
        <if test="example.createVendorNameLike != null">
          AND `create_vendor_name` like concat('%',#{example.createVendorNameLike},'%')
        </if>
        <if test="example.updateTimeAfter != null">
          AND `update_time` <![CDATA[ >= ]]> #{example.updateTimeAfter}
        </if>
        <if test="example.updateTimeBefore != null">
          AND `update_time` <![CDATA[ <= ]]> #{example.updateTimeBefore}
        </if>
        <if test="example.updateVendorId != null">
          AND `update_vendor_id` = #{example.updateVendorId}
        </if>
        <if test="example.updateVendorName != null">
          AND `update_vendor_name` = #{example.updateVendorName}
        </if>
        <if test="example.updateVendorNameLike != null">
          AND `update_vendor_name` like concat('%',#{example.updateVendorNameLike},'%')
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `inner_label_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.seller.example.StoreInnerLabelExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `store_inner_label`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `store_inner_label`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_inner_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `store_inner_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_inner_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `store_inner_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>