<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.msg.MemberTplWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.msg.pojo.MemberTpl">
    <id column="tpl_code" property="tplCode" />
    <result column="tpl_name" property="tplName" />
    <result column="tpl_type_code" property="tplTypeCode" />
    <result column="sms_switch" property="smsSwitch" />
    <result column="sms_content" property="smsContent" />
    <result column="email_switch" property="emailSwitch" />
    <result column="msg_switch" property="msgSwitch" />
    <result column="wx_switch" property="wxSwitch" />
    <result column="email_content" property="emailContent" />
    <result column="msg_content" property="msgContent" />
    <result column="wx_content" property="wxContent" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="tplCode != null">
        `tpl_code`,
      </if>
      <if test="tplName != null">
        `tpl_name`,
      </if>
      <if test="tplTypeCode != null">
        `tpl_type_code`,
      </if>
      <if test="smsSwitch != null">
        `sms_switch`,
      </if>
      <if test="smsContent != null">
        `sms_content`,
      </if>
      <if test="emailSwitch != null">
        `email_switch`,
      </if>
      <if test="msgSwitch != null">
        `msg_switch`,
      </if>
      <if test="wxSwitch != null">
        `wx_switch`,
      </if>
      <if test="emailContent != null">
        `email_content`,
      </if>
      <if test="msgContent != null">
        `msg_content`,
      </if>
      <if test="wxContent != null">
        `wx_content`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `tpl_code` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.tplCodeNotEquals != null">
          AND `tpl_code` != #{example.tplCodeNotEquals}
        </if>
        <if test="example.tplCodeIn != null">
          AND `tpl_code` in (${example.tplCodeIn})
        </if>
        <if test="example.tplName != null">
          AND `tpl_name` = #{example.tplName}
        </if>
        <if test="example.tplNameLike != null">
          AND `tpl_name` like concat('%',#{example.tplNameLike},'%')
        </if>
        <if test="example.tplTypeCode != null">
          AND `tpl_type_code` = #{example.tplTypeCode}
        </if>
        <if test="example.smsSwitch != null">
          AND `sms_switch` = #{example.smsSwitch}
        </if>
        <if test="example.smsContent != null">
          AND `sms_content` = #{example.smsContent}
        </if>
        <if test="example.smsContentLike != null">
          AND `sms_content` like concat('%',#{example.smsContentLike},'%')
        </if>
        <if test="example.emailSwitch != null">
          AND `email_switch` = #{example.emailSwitch}
        </if>
        <if test="example.msgSwitch != null">
          AND `msg_switch` = #{example.msgSwitch}
        </if>
        <if test="example.wxSwitch != null">
          AND `wx_switch` = #{example.wxSwitch}
        </if>
        <if test="example.emailContent != null">
          AND `email_content` = #{example.emailContent}
        </if>
        <if test="example.emailContentLike != null">
          AND `email_content` like concat('%',#{example.emailContentLike},'%')
        </if>
        <if test="example.msgContent != null">
          AND `msg_content` = #{example.msgContent}
        </if>
        <if test="example.msgContentLike != null">
          AND `msg_content` like concat('%',#{example.msgContentLike},'%')
        </if>
        <if test="example.wxContent != null">
          AND `wx_content` = #{example.wxContent}
        </if>
        <if test="example.wxContentLike != null">
          AND `wx_content` like concat('%',#{example.wxContentLike},'%')
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `tpl_code` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.msg.example.MemberTplExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `msg_member_tpl`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `msg_member_tpl`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `msg_member_tpl`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `msg_member_tpl`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `msg_member_tpl`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `msg_member_tpl`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `msg_member_tpl`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `msg_member_tpl`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="tpl_code" keyProperty="tplCode" parameterType="com.slodon.b2b2c.msg.pojo.MemberTpl" useGeneratedKeys="true">
    INSERT INTO `msg_member_tpl`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="tplCode != null">
        #{tplCode},
      </if>
      <if test="tplName != null">
        #{tplName},
      </if>
      <if test="tplTypeCode != null">
        #{tplTypeCode},
      </if>
      <if test="smsSwitch != null">
        #{smsSwitch},
      </if>
      <if test="smsContent != null">
        #{smsContent},
      </if>
      <if test="emailSwitch != null">
        #{emailSwitch},
      </if>
      <if test="msgSwitch != null">
        #{msgSwitch},
      </if>
      <if test="wxSwitch != null">
        #{wxSwitch},
      </if>
      <if test="emailContent != null">
        #{emailContent},
      </if>
      <if test="msgContent != null">
        #{msgContent},
      </if>
      <if test="wxContent != null">
        #{wxContent},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `msg_member_tpl`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.tplName != null">
        `tpl_name` = #{record.tplName},
      </if>
      <if test="record.tplTypeCode != null">
        `tpl_type_code` = #{record.tplTypeCode},
      </if>
      <if test="record.smsSwitch != null">
        `sms_switch` = #{record.smsSwitch},
      </if>
      <if test="record.smsContent != null">
        `sms_content` = #{record.smsContent},
      </if>
      <if test="record.emailSwitch != null">
        `email_switch` = #{record.emailSwitch},
      </if>
      <if test="record.msgSwitch != null">
        `msg_switch` = #{record.msgSwitch},
      </if>
      <if test="record.wxSwitch != null">
        `wx_switch` = #{record.wxSwitch},
      </if>
      <if test="record.emailContent != null">
        `email_content` = #{record.emailContent},
      </if>
      <if test="record.msgContent != null">
        `msg_content` = #{record.msgContent},
      </if>
      <if test="record.wxContent != null">
        `wx_content` = #{record.wxContent},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `msg_member_tpl`
    <trim prefix="SET" suffixOverrides=",">
      <if test="tplName != null">
        `tpl_name` = #{tplName},
      </if>
      <if test="tplTypeCode != null">
        `tpl_type_code` = #{tplTypeCode},
      </if>
      <if test="smsSwitch != null">
        `sms_switch` = #{smsSwitch},
      </if>
      <if test="smsContent != null">
        `sms_content` = #{smsContent},
      </if>
      <if test="emailSwitch != null">
        `email_switch` = #{emailSwitch},
      </if>
      <if test="msgSwitch != null">
        `msg_switch` = #{msgSwitch},
      </if>
      <if test="wxSwitch != null">
        `wx_switch` = #{wxSwitch},
      </if>
      <if test="emailContent != null">
        `email_content` = #{emailContent},
      </if>
      <if test="msgContent != null">
        `msg_content` = #{msgContent},
      </if>
      <if test="wxContent != null">
        `wx_content` = #{wxContent},
      </if>
    </trim>
    WHERE `tpl_code` = #{tplCode}
  </update>
</mapper>