<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.goods.GoodsBrandWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.goods.pojo.GoodsBrand">
    <id column="brand_id" property="brandId" />
    <result column="brand_name" property="brandName" />
    <result column="brand_desc" property="brandDesc" />
    <result column="brand_initial" property="brandInitial" />
    <result column="image" property="image" />
    <result column="is_recommend" property="isRecommend" />
    <result column="sort" property="sort" />
    <result column="create_admin_id" property="createAdminId" />
    <result column="create_time" property="createTime" />
    <result column="update_admin_id" property="updateAdminId" />
    <result column="update_time" property="updateTime" />
    <result column="apply_vendor_id" property="applyVendorId" />
    <result column="apply_store_id" property="applyStoreId" />
    <result column="fail_reason" property="failReason" />
    <result column="state" property="state" />
    <result column="goods_category_id3" property="goodsCategoryId3" />
    <result column="goods_category_path" property="goodsCategoryPath" />
    <result column="store_name" property="storeName" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="brandName != null">
        `brand_name`,
      </if>
      <if test="brandDesc != null">
        `brand_desc`,
      </if>
      <if test="brandInitial != null">
        `brand_initial`,
      </if>
      <if test="image != null">
        `image`,
      </if>
      <if test="isRecommend != null">
        `is_recommend`,
      </if>
      <if test="sort != null">
        `sort`,
      </if>
      <if test="createAdminId != null">
        `create_admin_id`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateAdminId != null">
        `update_admin_id`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
      <if test="applyVendorId != null">
        `apply_vendor_id`,
      </if>
      <if test="applyStoreId != null">
        `apply_store_id`,
      </if>
      <if test="failReason != null">
        `fail_reason`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="goodsCategoryId3 != null">
        `goods_category_id3`,
      </if>
      <if test="goodsCategoryPath != null">
        `goods_category_path`,
      </if>
      <if test="storeName != null">
        `store_name`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `brand_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.brandIdNotEquals != null">
          AND `brand_id` != #{example.brandIdNotEquals}
        </if>
        <if test="example.brandIdIn != null">
          AND `brand_id` in (${example.brandIdIn})
        </if>
        <if test="example.brandId != null">
          AND `brand_id` = #{example.brandId}
        </if>
        <if test="example.brandName != null">
          AND `brand_name` = #{example.brandName}
        </if>
        <if test="example.brandNameLike != null">
          AND `brand_name` like concat('%',#{example.brandNameLike},'%')
        </if>
        <if test="example.brandDesc != null">
          AND `brand_desc` = #{example.brandDesc}
        </if>
        <if test="example.brandInitial != null">
          AND `brand_initial` = #{example.brandInitial}
        </if>
        <if test="example.image != null">
          AND `image` = #{example.image}
        </if>
        <if test="example.isRecommend != null">
          AND `is_recommend` = #{example.isRecommend}
        </if>
        <if test="example.sort != null">
          AND `sort` = #{example.sort}
        </if>
        <if test="example.createAdminId != null">
          AND `create_admin_id` = #{example.createAdminId}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.updateAdminId != null">
          AND `update_admin_id` = #{example.updateAdminId}
        </if>
        <if test="example.updateTimeAfter != null">
          AND `update_time` <![CDATA[ >= ]]> #{example.updateTimeAfter}
        </if>
        <if test="example.updateTimeBefore != null">
          AND `update_time` <![CDATA[ <= ]]> #{example.updateTimeBefore}
        </if>
        <if test="example.applyVendorId != null">
          AND `apply_vendor_id` = #{example.applyVendorId}
        </if>
        <if test="example.applyStoreId != null">
          AND `apply_store_id` = #{example.applyStoreId}
        </if>
        <if test="example.failReason != null">
          AND `fail_reason` = #{example.failReason}
        </if>
        <if test="example.failReasonLike != null">
          AND `fail_reason` like concat('%',#{example.failReasonLike},'%')
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.goodsCategoryId3 != null">
          AND `goods_category_id3` = #{example.goodsCategoryId3}
        </if>
        <if test="example.goodsCategoryPath != null">
          AND `goods_category_path` = #{example.goodsCategoryPath}
        </if>
        <if test="example.storeNameLike != null">
          AND `store_name` like concat('%',#{example.storeNameLike},'%')
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `brand_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.goods.example.GoodsBrandExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `goods_brand`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `goods_brand`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `goods_brand`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `goods_brand`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `goods_brand`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `goods_brand`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `goods_brand`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `goods_brand`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="brand_id" keyProperty="brandId" parameterType="com.slodon.b2b2c.goods.pojo.GoodsBrand" useGeneratedKeys="true">
    INSERT INTO `goods_brand`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="brandName != null">
        #{brandName},
      </if>
      <if test="brandDesc != null">
        #{brandDesc},
      </if>
      <if test="brandInitial != null">
        #{brandInitial},
      </if>
      <if test="image != null">
        #{image},
      </if>
      <if test="isRecommend != null">
        #{isRecommend},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="createAdminId != null">
        #{createAdminId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateAdminId != null">
        #{updateAdminId},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="applyVendorId != null">
        #{applyVendorId},
      </if>
      <if test="applyStoreId != null">
        #{applyStoreId},
      </if>
      <if test="failReason != null">
        #{failReason},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="goodsCategoryId3 != null">
        #{goodsCategoryId3},
      </if>
      <if test="goodsCategoryPath != null">
        #{goodsCategoryPath},
      </if>
      <if test="storeName != null">
        #{storeName},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `goods_brand`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.brandName != null">
        `brand_name` = #{record.brandName},
      </if>
      <if test="record.brandDesc != null">
        `brand_desc` = #{record.brandDesc},
      </if>
      <if test="record.brandInitial != null">
        `brand_initial` = #{record.brandInitial},
      </if>
      <if test="record.image != null">
        `image` = #{record.image},
      </if>
      <if test="record.isRecommend != null">
        `is_recommend` = #{record.isRecommend},
      </if>
      <if test="record.sort != null">
        `sort` = #{record.sort},
      </if>
      <if test="record.createAdminId != null">
        `create_admin_id` = #{record.createAdminId},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.updateAdminId != null">
        `update_admin_id` = #{record.updateAdminId},
      </if>
      <if test="record.updateTime != null">
        `update_time` = #{record.updateTime},
      </if>
      <if test="record.applyVendorId != null">
        `apply_vendor_id` = #{record.applyVendorId},
      </if>
      <if test="record.applyStoreId != null">
        `apply_store_id` = #{record.applyStoreId},
      </if>
      <if test="record.failReason != null">
        `fail_reason` = #{record.failReason},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
      <if test="record.goodsCategoryId3 != null">
        `goods_category_id3` = #{record.goodsCategoryId3},
      </if>
      <if test="record.goodsCategoryPath != null">
        `goods_category_path` = #{record.goodsCategoryPath},
      </if>
      <if test="record.storeName != null">
        `store_name` = #{record.storeName},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `goods_brand`
    <trim prefix="SET" suffixOverrides=",">
      <if test="brandName != null">
        `brand_name` = #{brandName},
      </if>
      <if test="brandDesc != null">
        `brand_desc` = #{brandDesc},
      </if>
      <if test="brandInitial != null">
        `brand_initial` = #{brandInitial},
      </if>
      <if test="image != null">
        `image` = #{image},
      </if>
      <if test="isRecommend != null">
        `is_recommend` = #{isRecommend},
      </if>
      <if test="sort != null">
        `sort` = #{sort},
      </if>
      <if test="createAdminId != null">
        `create_admin_id` = #{createAdminId},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="updateAdminId != null">
        `update_admin_id` = #{updateAdminId},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime},
      </if>
      <if test="applyVendorId != null">
        `apply_vendor_id` = #{applyVendorId},
      </if>
      <if test="applyStoreId != null">
        `apply_store_id` = #{applyStoreId},
      </if>
      <if test="failReason != null">
        `fail_reason` = #{failReason},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="goodsCategoryId3 != null">
        `goods_category_id3` = #{goodsCategoryId3},
      </if>
      <if test="goodsCategoryPath != null">
        `goods_category_path` = #{goodsCategoryPath},
      </if>
      <if test="storeName != null">
        `store_name` = #{storeName},
      </if>
    </trim>
    WHERE `brand_id` = #{brandId}
  </update>
</mapper>