<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.goods.GoodsBindAttributeValueWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.goods.pojo.GoodsBindAttributeValue">
    <id column="bind_id" property="bindId" />
    <result column="goods_id" property="goodsId" />
    <result column="attribute_id" property="attributeId" />
    <result column="attribute_name" property="attributeName" />
    <result column="attribute_value_id" property="attributeValueId" />
    <result column="attribute_value" property="attributeValue" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="goodsId != null">
        `goods_id`,
      </if>
      <if test="attributeId != null">
        `attribute_id`,
      </if>
      <if test="attributeName != null">
        `attribute_name`,
      </if>
      <if test="attributeValueId != null">
        `attribute_value_id`,
      </if>
      <if test="attributeValue != null">
        `attribute_value`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `bind_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.bindIdNotEquals != null">
          AND `bind_id` != #{example.bindIdNotEquals}
        </if>
        <if test="example.bindIdIn != null">
          AND `bind_id` in (${example.bindIdIn})
        </if>
        <if test="example.goodsId != null">
          AND `goods_id` = #{example.goodsId}
        </if>
        <if test="example.attributeId != null">
          AND `attribute_id` = #{example.attributeId}
        </if>
        <if test="example.attributeName != null">
          AND `attribute_name` = #{example.attributeName}
        </if>
        <if test="example.attributeNameLike != null">
          AND `attribute_name` like concat('%',#{example.attributeNameLike},'%')
        </if>
        <if test="example.attributeValueId != null">
          AND `attribute_value_id` = #{example.attributeValueId}
        </if>
        <if test="example.attributeValue != null">
          AND `attribute_value` = #{example.attributeValue}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `bind_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.goods.example.GoodsBindAttributeValueExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `goods_bind_attribute_value`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `goods_bind_attribute_value`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `goods_bind_attribute_value`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="bind_id" keyProperty="bindId" parameterType="com.slodon.b2b2c.goods.pojo.GoodsBindAttributeValue" useGeneratedKeys="true">
    INSERT INTO `goods_bind_attribute_value`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId},
      </if>
      <if test="attributeId != null">
        #{attributeId},
      </if>
      <if test="attributeName != null">
        #{attributeName},
      </if>
      <if test="attributeValueId != null">
        #{attributeValueId},
      </if>
      <if test="attributeValue != null">
        #{attributeValue},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `goods_bind_attribute_value`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.goodsId != null">
        `goods_id` = #{record.goodsId},
      </if>
      <if test="record.attributeId != null">
        `attribute_id` = #{record.attributeId},
      </if>
      <if test="record.attributeName != null">
        `attribute_name` = #{record.attributeName},
      </if>
      <if test="record.attributeValueId != null">
        `attribute_value_id` = #{record.attributeValueId},
      </if>
      <if test="record.attributeValue != null">
        `attribute_value` = #{record.attributeValue},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `goods_bind_attribute_value`
    <trim prefix="SET" suffixOverrides=",">
      <if test="goodsId != null">
        `goods_id` = #{goodsId},
      </if>
      <if test="attributeId != null">
        `attribute_id` = #{attributeId},
      </if>
      <if test="attributeName != null">
        `attribute_name` = #{attributeName},
      </if>
      <if test="attributeValueId != null">
        `attribute_value_id` = #{attributeValueId},
      </if>
      <if test="attributeValue != null">
        `attribute_value` = #{attributeValue},
      </if>
    </trim>
    WHERE `bind_id` = #{bindId}
  </update>
</mapper>