<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.msg.StorePushReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.msg.pojo.StorePush">
    <id column="push_id" property="pushId" />
    <result column="content" property="content" />
    <result column="store_id" property="storeId" />
    <result column="send_time" property="sendTime" />
    <result column="send_way" property="sendWay" />
    <result column="is_check" property="isCheck" />
    <result column="description" property="description" />
    <result column="create_id" property="createId" />
    <result column="receive_ids" property="receiveIds" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `push_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.pushIdNotEquals != null">
          AND `push_id` != #{example.pushIdNotEquals}
        </if>
        <if test="example.pushIdIn != null">
          AND `push_id` in (${example.pushIdIn})
        </if>
        <if test="example.content != null">
          AND `content` = #{example.content}
        </if>
        <if test="example.contentLike != null">
          AND `content` like concat('%',#{example.contentLike},'%')
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.sendTimeAfter != null">
          AND `send_time` <![CDATA[ >= ]]> #{example.sendTimeAfter}
        </if>
        <if test="example.sendTimeBefore != null">
          AND `send_time` <![CDATA[ <= ]]> #{example.sendTimeBefore}
        </if>
        <if test="example.sendWay != null">
          AND `send_way` = #{example.sendWay}
        </if>
        <if test="example.isCheck != null">
          AND `is_check` = #{example.isCheck}
        </if>
        <if test="example.description != null">
          AND `description` = #{example.description}
        </if>
        <if test="example.createId != null">
          AND `create_id` = #{example.createId}
        </if>
        <if test="example.receiveIds != null">
          AND `receive_ids` = #{example.receiveIds}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `push_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.msg.example.StorePushExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `msg_store_push`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `msg_store_push`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `msg_store_push`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `msg_store_push`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `msg_store_push`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `msg_store_push`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>