<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.system.BillOrderBindWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.system.pojo.BillOrderBind">
    <id column="bind_id" property="bindId" />
    <result column="bill_sn" property="billSn" />
    <result column="order_sn" property="orderSn" />
    <result column="order_amount" property="orderAmount" />
    <result column="commission" property="commission" />
    <result column="refund_commission" property="refundCommission" />
    <result column="refund_amount" property="refundAmount" />
    <result column="platform_activity_amount" property="platformActivityAmount" />
    <result column="platform_voucher_amount" property="platformVoucherAmount" />
    <result column="integral_cash_amount" property="integralCashAmount" />
    <result column="compensation_amount" property="compensationAmount" />
    <result column="create_time" property="createTime" />
    <result column="finish_time" property="finishTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="billSn != null">
        `bill_sn`,
      </if>
      <if test="orderSn != null">
        `order_sn`,
      </if>
      <if test="orderAmount != null">
        `order_amount`,
      </if>
      <if test="commission != null">
        `commission`,
      </if>
      <if test="refundCommission != null">
        `refund_commission`,
      </if>
      <if test="refundAmount != null">
        `refund_amount`,
      </if>
      <if test="platformActivityAmount != null">
        `platform_activity_amount`,
      </if>
      <if test="platformVoucherAmount != null">
        `platform_voucher_amount`,
      </if>
      <if test="integralCashAmount != null">
        `integral_cash_amount`,
      </if>
      <if test="compensationAmount != null">
        `compensation_amount`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="finishTime != null">
        `finish_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `bind_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.bindIdNotEquals != null">
          AND `bind_id` != #{example.bindIdNotEquals}
        </if>
        <if test="example.bindIdIn != null">
          AND `bind_id` in (${example.bindIdIn})
        </if>
        <if test="example.billSn != null">
          AND `bill_sn` = #{example.billSn}
        </if>
        <if test="example.billSnLike != null">
          AND `bill_sn` like concat('%',#{example.billSnLike},'%')
        </if>
        <if test="example.orderSn != null">
          AND `order_sn` = #{example.orderSn}
        </if>
        <if test="example.orderSnLike != null">
          AND `order_sn` like concat('%',#{example.orderSnLike},'%')
        </if>
        <if test="example.orderAmount != null">
          AND `order_amount` = #{example.orderAmount}
        </if>
        <if test="example.commission != null">
          AND `commission` = #{example.commission}
        </if>
        <if test="example.refundCommission != null">
          AND `refund_commission` = #{example.refundCommission}
        </if>
        <if test="example.refundAmount != null">
          AND `refund_amount` = #{example.refundAmount}
        </if>
        <if test="example.platformActivityAmount != null">
          AND `platform_activity_amount` = #{example.platformActivityAmount}
        </if>
        <if test="example.platformVoucherAmount != null">
          AND `platform_voucher_amount` = #{example.platformVoucherAmount}
        </if>
        <if test="example.integralCashAmount != null">
          AND `integral_cash_amount` = #{example.integralCashAmount}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.finishTimeAfter != null">
          AND `finish_time` <![CDATA[ >= ]]> #{example.finishTimeAfter}
        </if>
        <if test="example.finishTimeBefore != null">
          AND `finish_time` <![CDATA[ <= ]]> #{example.finishTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `bind_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.system.example.BillOrderBindExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `sys_bill_order_bind`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `sys_bill_order_bind`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `sys_bill_order_bind`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="bind_id" keyProperty="bindId" parameterType="com.slodon.b2b2c.system.pojo.BillOrderBind" useGeneratedKeys="true">
    INSERT INTO `sys_bill_order_bind`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="billSn != null">
        #{billSn},
      </if>
      <if test="orderSn != null">
        #{orderSn},
      </if>
      <if test="orderAmount != null">
        #{orderAmount},
      </if>
      <if test="commission != null">
        #{commission},
      </if>
      <if test="refundCommission != null">
        #{refundCommission},
      </if>
      <if test="refundAmount != null">
        #{refundAmount},
      </if>
      <if test="platformActivityAmount != null">
        #{platformActivityAmount},
      </if>
      <if test="platformVoucherAmount != null">
        #{platformVoucherAmount},
      </if>
      <if test="integralCashAmount != null">
        #{integralCashAmount},
      </if>
      <if test="compensationAmount != null">
        #{compensationAmount},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="finishTime != null">
        #{finishTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `sys_bill_order_bind`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.billSn != null">
        `bill_sn` = #{record.billSn},
      </if>
      <if test="record.orderSn != null">
        `order_sn` = #{record.orderSn},
      </if>
      <if test="record.orderAmount != null">
        `order_amount` = #{record.orderAmount},
      </if>
      <if test="record.commission != null">
        `commission` = #{record.commission},
      </if>
      <if test="record.refundCommission != null">
        `refund_commission` = #{record.refundCommission},
      </if>
      <if test="record.refundAmount != null">
        `refund_amount` = #{record.refundAmount},
      </if>
      <if test="record.platformActivityAmount != null">
        `platform_activity_amount` = #{record.platformActivityAmount},
      </if>
      <if test="record.platformVoucherAmount != null">
        `platform_voucher_amount` = #{record.platformVoucherAmount},
      </if>
      <if test="record.integralCashAmount != null">
        `integral_cash_amount` = #{record.integralCashAmount},
      </if>
      <if test="record.compensationAmount != null">
        `compensation_amount` = #{record.compensationAmount},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.finishTime != null">
        `finish_time` = #{record.finishTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `sys_bill_order_bind`
    <trim prefix="SET" suffixOverrides=",">
      <if test="billSn != null">
        `bill_sn` = #{billSn},
      </if>
      <if test="orderSn != null">
        `order_sn` = #{orderSn},
      </if>
      <if test="orderAmount != null">
        `order_amount` = #{orderAmount},
      </if>
      <if test="commission != null">
        `commission` = #{commission},
      </if>
      <if test="refundCommission != null">
        `refund_commission` = #{refundCommission},
      </if>
      <if test="refundAmount != null">
        `refund_amount` = #{refundAmount},
      </if>
      <if test="platformActivityAmount != null">
        `platform_activity_amount` = #{platformActivityAmount},
      </if>
      <if test="platformVoucherAmount != null">
        `platform_voucher_amount` = #{platformVoucherAmount},
      </if>
      <if test="integralCashAmount != null">
        `integral_cash_amount` = #{integralCashAmount},
      </if>
      <if test="compensationAmount != null">
        `compensation_amount` = #{compensationAmount},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="finishTime != null">
        `finish_time` = #{finishTime},
      </if>
    </trim>
    WHERE `bind_id` = #{bindId}
  </update>
</mapper>