<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.system.ReasonWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.system.pojo.Reason">
    <id column="reason_id" property="reasonId" />
    <result column="type" property="type" />
    <result column="content" property="content" />
    <result column="sort" property="sort" />
    <result column="is_show" property="isShow" />
    <result column="is_inner" property="isInner" />
    <result column="create_admin_id" property="createAdminId" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="content != null">
        `content`,
      </if>
      <if test="sort != null">
        `sort`,
      </if>
      <if test="isShow != null">
        `is_show`,
      </if>
      <if test="isInner != null">
        `is_inner`,
      </if>
      <if test="createAdminId != null">
        `create_admin_id`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `reason_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.reasonIdNotEquals != null">
          AND `reason_id` != #{example.reasonIdNotEquals}
        </if>
        <if test="example.reasonIdIn != null">
          AND `reason_id` in (${example.reasonIdIn})
        </if>
        <if test="example.type != null">
          AND `type` = #{example.type}
        </if>
        <if test="example.content != null">
          AND `content` = #{example.content}
        </if>
        <if test="example.contentLike != null">
          AND `content` like concat('%',#{example.contentLike},'%')
        </if>
        <if test="example.sort != null">
          AND `sort` = #{example.sort}
        </if>
        <if test="example.isShow != null">
          AND `is_show` = #{example.isShow}
        </if>
        <if test="example.isInner != null">
          AND `is_inner` = #{example.isInner}
        </if>
        <if test="example.createAdminId != null">
          AND `create_admin_id` = #{example.createAdminId}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `reason_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.system.example.ReasonExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `sys_reason`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `sys_reason`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_reason`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_reason`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_reason`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_reason`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `sys_reason`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `sys_reason`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="reason_id" keyProperty="reasonId" parameterType="com.slodon.b2b2c.system.pojo.Reason" useGeneratedKeys="true">
    INSERT INTO `sys_reason`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="type != null">
        #{type},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="isShow != null">
        #{isShow},
      </if>
      <if test="isInner != null">
        #{isInner},
      </if>
      <if test="createAdminId != null">
        #{createAdminId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `sys_reason`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.type != null">
        `type` = #{record.type},
      </if>
      <if test="record.content != null">
        `content` = #{record.content},
      </if>
      <if test="record.sort != null">
        `sort` = #{record.sort},
      </if>
      <if test="record.isShow != null">
        `is_show` = #{record.isShow},
      </if>
      <if test="record.isInner != null">
        `is_inner` = #{record.isInner},
      </if>
      <if test="record.createAdminId != null">
        `create_admin_id` = #{record.createAdminId},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `sys_reason`
    <trim prefix="SET" suffixOverrides=",">
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="content != null">
        `content` = #{content},
      </if>
      <if test="sort != null">
        `sort` = #{sort},
      </if>
      <if test="isShow != null">
        `is_show` = #{isShow},
      </if>
      <if test="isInner != null">
        `is_inner` = #{isInner},
      </if>
      <if test="createAdminId != null">
        `create_admin_id` = #{createAdminId},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
    </trim>
    WHERE `reason_id` = #{reasonId}
  </update>
</mapper>