<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.system.RegionProvinceWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.system.pojo.RegionProvince">
    <id column="id" property="id" />
    <id column="native_code" property="nativeCode" />
    <result column="province_name" property="provinceName" />
    <result column="country_code" property="countryCode" />
    <result column="country_name" property="countryName" />
    <result column="remark_code" property="remarkCode" />
    <result column="region_level" property="regionLevel" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="provinceName != null">
        `province_name`,
      </if>
      <if test="countryCode != null">
        `country_code`,
      </if>
      <if test="countryName != null">
        `country_name`,
      </if>
      <if test="remarkCode != null">
        `remark_code`,
      </if>
      <if test="regionLevel != null">
        `region_level`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.idNotEquals != null">
          AND `id` != #{example.idNotEquals}
        </if>
        <if test="example.idIn != null">
          AND `id` in (${example.idIn})
        </if>
        <if test="example.provinceName != null">
          AND `province_name` = #{example.provinceName}
        </if>
        <if test="example.provinceNameLike != null">
          AND `province_name` like concat('%',#{example.provinceNameLike},'%')
        </if>
        <if test="example.countryCode != null">
          AND `country_code` = #{example.countryCode}
        </if>
        <if test="example.countryName != null">
          AND `country_name` = #{example.countryName}
        </if>
        <if test="example.countryNameLike != null">
          AND `country_name` like concat('%',#{example.countryNameLike},'%')
        </if>
        <if test="example.remarkCode != null">
          AND `remark_code` = #{example.remarkCode}
        </if>
        <if test="example.regionLevel != null">
          AND `region_level` = #{example.regionLevel}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.system.example.RegionProvinceExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `sys_region_province`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `sys_region_province`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_region_province`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_region_province`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_region_province`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_region_province`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `sys_region_province`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `sys_region_province`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.slodon.b2b2c.system.pojo.RegionProvince" useGeneratedKeys="true">
    INSERT INTO `sys_region_province`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="provinceName != null">
        #{provinceName},
      </if>
      <if test="countryCode != null">
        #{countryCode},
      </if>
      <if test="countryName != null">
        #{countryName},
      </if>
      <if test="remarkCode != null">
        #{remarkCode},
      </if>
      <if test="regionLevel != null">
        #{regionLevel},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `sys_region_province`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.provinceName != null">
        `province_name` = #{record.provinceName},
      </if>
      <if test="record.countryCode != null">
        `country_code` = #{record.countryCode},
      </if>
      <if test="record.countryName != null">
        `country_name` = #{record.countryName},
      </if>
      <if test="record.remarkCode != null">
        `remark_code` = #{record.remarkCode},
      </if>
      <if test="record.regionLevel != null">
        `region_level` = #{record.regionLevel},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `sys_region_province`
    <trim prefix="SET" suffixOverrides=",">
      <if test="provinceName != null">
        `province_name` = #{provinceName},
      </if>
      <if test="countryCode != null">
        `country_code` = #{countryCode},
      </if>
      <if test="countryName != null">
        `country_name` = #{countryName},
      </if>
      <if test="remarkCode != null">
        `remark_code` = #{remarkCode},
      </if>
      <if test="regionLevel != null">
        `region_level` = #{regionLevel},
      </if>
    </trim>
    WHERE `id` = #{id}
  </update>
</mapper>