<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.system.TplMobileWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.system.pojo.TplMobile">
    <id column="tpl_id" property="tplId" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="icon" property="icon" />
    <result column="is_use" property="isUse" />
    <result column="apply" property="apply" />
    <result column="sort" property="sort" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="icon != null">
        `icon`,
      </if>
      <if test="isUse != null">
        `is_use`,
      </if>
      <if test="apply != null">
        `apply`,
      </if>
      <if test="sort != null">
        `sort`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `tpl_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.tplIdNotEquals != null">
          AND `tpl_id` != #{example.tplIdNotEquals}
        </if>
        <if test="example.tplIdIn != null">
          AND `tpl_id` in (${example.tplIdIn})
        </if>
        <if test="example.name != null">
          AND `name` = #{example.name}
        </if>
        <if test="example.nameLike != null">
          AND `name` like concat('%',#{example.nameLike},'%')
        </if>
        <if test="example.type != null">
          AND `type` = #{example.type}
        </if>
        <if test="example.icon != null">
          AND `icon` = #{example.icon}
        </if>
        <if test="example.isUse != null">
          AND `is_use` = #{example.isUse}
        </if>
        <if test="example.apply != null">
          AND `apply` = #{example.apply}
        </if>
        <if test="example.sort != null">
          AND `sort` = #{example.sort}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `tpl_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.system.example.TplMobileExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `sys_tpl_mobile`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `sys_tpl_mobile`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `sys_tpl_mobile`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="tpl_id" keyProperty="tplId" parameterType="com.slodon.b2b2c.system.pojo.TplMobile" useGeneratedKeys="true">
    INSERT INTO `sys_tpl_mobile`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="icon != null">
        #{icon},
      </if>
      <if test="isUse != null">
        #{isUse},
      </if>
      <if test="apply != null">
        #{apply},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `sys_tpl_mobile`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.name != null">
        `name` = #{record.name},
      </if>
      <if test="record.type != null">
        `type` = #{record.type},
      </if>
      <if test="record.icon != null">
        `icon` = #{record.icon},
      </if>
      <if test="record.isUse != null">
        `is_use` = #{record.isUse},
      </if>
      <if test="record.apply != null">
        `apply` = #{record.apply},
      </if>
      <if test="record.sort != null">
        `sort` = #{record.sort},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `sys_tpl_mobile`
    <trim prefix="SET" suffixOverrides=",">
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="icon != null">
        `icon` = #{icon},
      </if>
      <if test="isUse != null">
        `is_use` = #{isUse},
      </if>
      <if test="apply != null">
        `apply` = #{apply},
      </if>
      <if test="sort != null">
        `sort` = #{sort},
      </if>
    </trim>
    WHERE `tpl_id` = #{tplId}
  </update>
</mapper>