<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.business.ComplainTalkReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.business.pojo.ComplainTalk">
    <id column="complain_talk_id" property="complainTalkId" />
    <result column="complain_id" property="complainId" />
    <result column="talk_user_id" property="talkUserId" />
    <result column="talk_user_name" property="talkUserName" />
    <result column="talk_user_type" property="talkUserType" />
    <result column="talk_content" property="talkContent" />
    <result column="talk_time" property="talkTime" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `complain_talk_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.complainTalkIdNotEquals != null">
          AND `complain_talk_id` != #{example.complainTalkIdNotEquals}
        </if>
        <if test="example.complainTalkIdIn != null">
          AND `complain_talk_id` in (${example.complainTalkIdIn})
        </if>
        <if test="example.complainId != null">
          AND `complain_id` = #{example.complainId}
        </if>
        <if test="example.talkUserId != null">
          AND `talk_user_id` = #{example.talkUserId}
        </if>
        <if test="example.talkUserName != null">
          AND `talk_user_name` = #{example.talkUserName}
        </if>
        <if test="example.talkUserNameLike != null">
          AND `talk_user_name` like concat('%',#{example.talkUserNameLike},'%')
        </if>
        <if test="example.talkUserType != null">
          AND `talk_user_type` = #{example.talkUserType}
        </if>
        <if test="example.talkContent != null">
          AND `talk_content` = #{example.talkContent}
        </if>
        <if test="example.talkContentLike != null">
          AND `talk_content` like concat('%',#{example.talkContentLike},'%')
        </if>
        <if test="example.talkTimeAfter != null">
          AND `talk_time` <![CDATA[ >= ]]> #{example.talkTimeAfter}
        </if>
        <if test="example.talkTimeBefore != null">
          AND `talk_time` <![CDATA[ <= ]]> #{example.talkTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `complain_talk_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.business.example.ComplainTalkExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `bz_complain_talk`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `bz_complain_talk`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `bz_complain_talk`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `bz_complain_talk`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `bz_complain_talk`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `bz_complain_talk`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>