<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.read.business.OrderProductReadMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.business.pojo.OrderProduct">
    <id column="order_product_id" property="orderProductId" />
    <result column="order_sn" property="orderSn" />
    <result column="store_id" property="storeId" />
    <result column="store_name" property="storeName" />
    <result column="member_id" property="memberId" />
    <result column="goods_category_id" property="goodsCategoryId" />
    <result column="goods_id" property="goodsId" />
    <result column="goods_name" property="goodsName" />
    <result column="product_image" property="productImage" />
    <result column="spec_values" property="specValues" />
    <result column="product_id" property="productId" />
    <result column="product_show_price" property="productShowPrice" />
    <result column="product_num" property="productNum" />
    <result column="activity_discount_amount" property="activityDiscountAmount" />
    <result column="activity_discount_detail" property="activityDiscountDetail" />
    <result column="store_activity_amount" property="storeActivityAmount" />
    <result column="platform_activity_amount" property="platformActivityAmount" />
    <result column="store_voucher_amount" property="storeVoucherAmount" />
    <result column="platform_voucher_amount" property="platformVoucherAmount" />
    <result column="integral" property="integral" />
    <result column="integral_cash_amount" property="integralCashAmount" />
    <result column="money_amount" property="moneyAmount" />
    <result column="commission_rate" property="commissionRate" />
    <result column="commission_amount" property="commissionAmount" />
    <result column="spell_team_id" property="spellTeamId" />
    <result column="is_gift" property="isGift" />
    <result column="gift_id" property="giftId" />
    <result column="return_number" property="returnNumber" />
    <result column="replacement_number" property="replacementNumber" />
    <result column="is_comment" property="isComment" />
    <result column="comment_time" property="commentTime" />
  </resultMap>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `order_product_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.orderProductIdNotEquals != null">
          AND `order_product_id` != #{example.orderProductIdNotEquals}
        </if>
        <if test="example.orderProductIdIn != null">
          AND `order_product_id` in (${example.orderProductIdIn})
        </if>
        <if test="example.orderProductIdNotIn != null">
          AND `order_product_id` not in (${example.orderProductIdNotIn})
        </if>
        <if test="example.orderSn != null">
          AND `order_sn` = #{example.orderSn}
        </if>
        <if test="example.orderSnLike != null">
          AND `order_sn` like concat('%',#{example.orderSnLike},'%')
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.storeName != null">
          AND `store_name` = #{example.storeName}
        </if>
        <if test="example.storeNameLike != null">
          AND `store_name` like concat('%',#{example.storeNameLike},'%')
        </if>
        <if test="example.memberId != null">
          AND `member_id` = #{example.memberId}
        </if>
        <if test="example.goodsCategoryId != null">
          AND `goods_category_id` = #{example.goodsCategoryId}
        </if>
        <if test="example.goodsId != null">
          AND `goods_id` = #{example.goodsId}
        </if>
        <if test="example.goodsName != null">
          AND `goods_name` = #{example.goodsName}
        </if>
        <if test="example.goodsNameLike != null">
          AND `goods_name` like concat('%',#{example.goodsNameLike},'%')
        </if>
        <if test="example.productImage != null">
          AND `product_image` = #{example.productImage}
        </if>
        <if test="example.specValues != null">
          AND `spec_values` = #{example.specValues}
        </if>
        <if test="example.productId != null">
          AND `product_id` = #{example.productId}
        </if>
        <if test="example.productShowPrice != null">
          AND `product_show_price` = #{example.productShowPrice}
        </if>
        <if test="example.productNum != null">
          AND `product_num` = #{example.productNum}
        </if>
        <if test="example.activityDiscountAmount != null">
          AND `activity_discount_amount` = #{example.activityDiscountAmount}
        </if>
        <if test="example.activityDiscountDetail != null">
          AND `activity_discount_detail` = #{example.activityDiscountDetail}
        </if>
        <if test="example.storeActivityAmount != null">
          AND `store_activity_amount` = #{example.storeActivityAmount}
        </if>
        <if test="example.platformActivityAmount != null">
          AND `platform_activity_amount` = #{example.platformActivityAmount}
        </if>
        <if test="example.storeVoucherAmount != null">
          AND `store_voucher_amount` = #{example.storeVoucherAmount}
        </if>
        <if test="example.platformVoucherAmount != null">
          AND `platform_voucher_amount` = #{example.platformVoucherAmount}
        </if>
        <if test="example.integral != null">
          AND `integral` = #{example.integral}
        </if>
        <if test="example.integralCashAmount != null">
          AND `integral_cash_amount` = #{example.integralCashAmount}
        </if>
        <if test="example.moneyAmount != null">
          AND `money_amount` = #{example.moneyAmount}
        </if>
        <if test="example.commissionRate != null">
          AND `commission_rate` = #{example.commissionRate}
        </if>
        <if test="example.commissionAmount != null">
          AND `commission_amount` = #{example.commissionAmount}
        </if>
        <if test="example.spellTeamId != null">
          AND `spell_team_id` = #{example.spellTeamId}
        </if>
        <if test="example.isGift != null">
          AND `is_gift` = #{example.isGift}
        </if>
        <if test="example.giftId != null">
          AND `gift_id` = #{example.giftId}
        </if>
        <if test="example.returnNumber != null">
          AND `return_number` = #{example.returnNumber}
        </if>
        <if test="example.replacementNumber != null">
          AND `replacement_number` = #{example.replacementNumber}
        </if>
        <if test="example.isComment != null">
          AND `is_comment` = #{example.isComment}
        </if>
        <if test="example.commentTimeAfter != null">
          AND `comment_time` <![CDATA[ >= ]]> #{example.commentTimeAfter}
        </if>
        <if test="example.commentTimeBefore != null">
          AND `comment_time` <![CDATA[ <= ]]> #{example.commentTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `order_product_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.business.example.OrderProductExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `bz_order_product`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `bz_order_product`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `bz_order_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `bz_order_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `bz_order_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `bz_order_product`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
</mapper>