<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.CouponGoodsCategoryWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.CouponGoodsCategory">
    <id column="coupon_category_id" property="couponCategoryId" />
    <result column="coupon_id" property="couponId" />
    <result column="category_id" property="categoryId" />
    <result column="category_name" property="categoryName" />
    <result column="category_grade" property="categoryGrade" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="couponId != null">
        `coupon_id`,
      </if>
      <if test="categoryId != null">
        `category_id`,
      </if>
      <if test="categoryName != null">
        `category_name`,
      </if>
      <if test="categoryGrade != null">
        `category_grade`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `coupon_category_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.couponCategoryIdNotEquals != null">
          AND `coupon_category_id` != #{example.couponCategoryIdNotEquals}
        </if>
        <if test="example.couponCategoryIdIn != null">
          AND `coupon_category_id` in (${example.couponCategoryIdIn})
        </if>
        <if test="example.couponId != null">
          AND `coupon_id` = #{example.couponId}
        </if>
        <if test="example.categoryId != null">
          AND `category_id` = #{example.categoryId}
        </if>
        <if test="example.categoryName != null">
          AND `category_name` = #{example.categoryName}
        </if>
        <if test="example.categoryNameLike != null">
          AND `category_name` like concat('%',#{example.categoryNameLike},'%')
        </if>
        <if test="example.categoryGrade != null">
          AND `category_grade` = #{example.categoryGrade}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `coupon_category_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.CouponGoodsCategoryExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon_goods_category`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_coupon_goods_category`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_coupon_goods_category`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="coupon_category_id" keyProperty="couponCategoryId" parameterType="com.slodon.b2b2c.promotion.pojo.CouponGoodsCategory" useGeneratedKeys="true">
    INSERT INTO `promotion_coupon_goods_category`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="couponId != null">
        #{couponId},
      </if>
      <if test="categoryId != null">
        #{categoryId},
      </if>
      <if test="categoryName != null">
        #{categoryName},
      </if>
      <if test="categoryGrade != null">
        #{categoryGrade},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_coupon_goods_category`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.couponId != null">
        `coupon_id` = #{record.couponId},
      </if>
      <if test="record.categoryId != null">
        `category_id` = #{record.categoryId},
      </if>
      <if test="record.categoryName != null">
        `category_name` = #{record.categoryName},
      </if>
      <if test="record.categoryGrade != null">
        `category_grade` = #{record.categoryGrade},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_coupon_goods_category`
    <trim prefix="SET" suffixOverrides=",">
      <if test="couponId != null">
        `coupon_id` = #{couponId},
      </if>
      <if test="categoryId != null">
        `category_id` = #{categoryId},
      </if>
      <if test="categoryName != null">
        `category_name` = #{categoryName},
      </if>
      <if test="categoryGrade != null">
        `category_grade` = #{categoryGrade},
      </if>
    </trim>
    WHERE `coupon_category_id` = #{couponCategoryId}
  </update>
</mapper>