<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.CouponWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.Coupon">
    <id column="coupon_id" property="couponId" />
    <result column="coupon_name" property="couponName" />
    <result column="coupon_content" property="couponContent" />
    <result column="description" property="description" />
    <result column="publish_type" property="publishType" />
    <result column="coupon_type" property="couponType" />
    <result column="consume_integral" property="consumeIntegral" />
    <result column="received_num" property="receivedNum" />
    <result column="used_num" property="usedNum" />
    <result column="publish_value" property="publishValue" />
    <result column="random_max" property="randomMax" />
    <result column="random_min" property="randomMin" />
    <result column="publish_amount" property="publishAmount" />
    <result column="publish_num" property="publishNum" />
    <result column="publish_start_time" property="publishStartTime" />
    <result column="publish_end_time" property="publishEndTime" />
    <result column="limit_receive" property="limitReceive" />
    <result column="effective_time_type" property="effectiveTimeType" />
    <result column="effective_start" property="effectiveStart" />
    <result column="effective_end" property="effectiveEnd" />
    <result column="cycle" property="cycle" />
    <result column="state" property="state" />
    <result column="store_id" property="storeId" />
    <result column="store_name" property="storeName" />
    <result column="use_type" property="useType" />
    <result column="limit_quota" property="limitQuota" />
    <result column="discount_limit_amount" property="discountLimitAmount" />
    <result column="plus_qualification" property="plusQualification" />
    <result column="is_per_quota" property="isPerQuota" />
    <result column="is_recommend" property="isRecommend" />
    <result column="channel" property="channel" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_user_name" property="createUserName" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="couponName != null">
        `coupon_name`,
      </if>
      <if test="couponContent != null">
        `coupon_content`,
      </if>
      <if test="description != null">
        `description`,
      </if>
      <if test="publishType != null">
        `publish_type`,
      </if>
      <if test="couponType != null">
        `coupon_type`,
      </if>
      <if test="consumeIntegral != null">
        `consume_integral`,
      </if>
      <if test="receivedNum != null">
        `received_num`,
      </if>
      <if test="usedNum != null">
        `used_num`,
      </if>
      <if test="publishValue != null">
        `publish_value`,
      </if>
      <if test="randomMax != null">
        `random_max`,
      </if>
      <if test="randomMin != null">
        `random_min`,
      </if>
      <if test="publishAmount != null">
        `publish_amount`,
      </if>
      <if test="publishNum != null">
        `publish_num`,
      </if>
      <if test="publishStartTime != null">
        `publish_start_time`,
      </if>
      <if test="publishEndTime != null">
        `publish_end_time`,
      </if>
      <if test="limitReceive != null">
        `limit_receive`,
      </if>
      <if test="effectiveTimeType != null">
        `effective_time_type`,
      </if>
      <if test="effectiveStart != null">
        `effective_start`,
      </if>
      <if test="effectiveEnd != null">
        `effective_end`,
      </if>
      <if test="cycle != null">
        `cycle`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="storeId != null">
        `store_id`,
      </if>
      <if test="storeName != null">
        `store_name`,
      </if>
      <if test="useType != null">
        `use_type`,
      </if>
      <if test="limitQuota != null">
        `limit_quota`,
      </if>
      <if test="discountLimitAmount != null">
        `discount_limit_amount`,
      </if>
      <if test="plusQualification != null">
        `plus_qualification`,
      </if>
      <if test="isPerQuota != null">
        `is_per_quota`,
      </if>
      <if test="isRecommend != null">
        `is_recommend`,
      </if>
      <if test="channel != null">
        `channel`,
      </if>
      <if test="createUserId != null">
        `create_user_id`,
      </if>
      <if test="createUserName != null">
        `create_user_name`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `coupon_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.couponIdNotEquals != null">
          AND `coupon_id` != #{example.couponIdNotEquals}
        </if>
        <if test="example.couponIdIn != null">
          AND `coupon_id` in (${example.couponIdIn})
        </if>
        <if test="example.couponName != null">
          AND `coupon_name` = #{example.couponName}
        </if>
        <if test="example.couponNameLike != null">
          AND `coupon_name` like concat('%',#{example.couponNameLike},'%')
        </if>
        <if test="example.couponContent != null">
          AND `coupon_content` = #{example.couponContent}
        </if>
        <if test="example.couponContentLike != null">
          AND `coupon_content` like concat('%',#{example.couponContentLike},'%')
        </if>
        <if test="example.description != null">
          AND `description` = #{example.description}
        </if>
        <if test="example.publishType != null">
          AND `publish_type` = #{example.publishType}
        </if>
        <if test="example.couponType != null">
          AND `coupon_type` = #{example.couponType}
        </if>
        <if test="example.consumeIntegral != null">
          AND `consume_integral` = #{example.consumeIntegral}
        </if>
        <if test="example.receivedNum != null">
          AND `received_num` = #{example.receivedNum}
        </if>
        <if test="example.usedNum != null">
          AND `used_num` = #{example.usedNum}
        </if>
        <if test="example.publishValue != null">
          AND `publish_value` = #{example.publishValue}
        </if>
        <if test="example.randomMax != null">
          AND `random_max` = #{example.randomMax}
        </if>
        <if test="example.randomMin != null">
          AND `random_min` = #{example.randomMin}
        </if>
        <if test="example.publishAmount != null">
          AND `publish_amount` = #{example.publishAmount}
        </if>
        <if test="example.publishNum != null">
          AND `publish_num` = #{example.publishNum}
        </if>
        <if test="example.publishStartTimeAfter != null">
          AND `publish_start_time` <![CDATA[ >= ]]> #{example.publishStartTimeAfter}
        </if>
        <if test="example.publishStartTimeBefore != null">
          AND `publish_start_time` <![CDATA[ <= ]]> #{example.publishStartTimeBefore}
        </if>
        <if test="example.publishEndTimeAfter != null">
          AND `publish_end_time` <![CDATA[ >= ]]> #{example.publishEndTimeAfter}
        </if>
        <if test="example.publishEndTimeBefore != null">
          AND `publish_end_time` <![CDATA[ <= ]]> #{example.publishEndTimeBefore}
        </if>
        <if test="example.limitReceive != null">
          AND `limit_receive` = #{example.limitReceive}
        </if>
        <if test="example.effectiveTimeType != null">
          AND `effective_time_type` = #{example.effectiveTimeType}
        </if>
        <if test="example.effectiveStartAfter != null">
          AND `effective_start` <![CDATA[ >= ]]> #{example.effectiveStartAfter}
        </if>
        <if test="example.effectiveStartBefore != null">
          AND `effective_start` <![CDATA[ <= ]]> #{example.effectiveStartBefore}
        </if>
        <if test="example.effectiveEndAfter != null">
          AND `effective_end` <![CDATA[ >= ]]> #{example.effectiveEndAfter}
        </if>
        <if test="example.effectiveEndBefore != null">
          AND `effective_end` <![CDATA[ <= ]]> #{example.effectiveEndBefore}
        </if>
        <if test="example.cycle != null">
          AND `cycle` = #{example.cycle}
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.stateIn != null">
          AND `state` in (${example.stateIn})
        </if>
        <if test="example.stateNotIn != null">
          AND `state` not in (${example.stateNotIn})
        </if>
        <if test="example.stateNotEquals != null">
          AND `state` != #{example.stateNotEquals}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.storeName != null">
          AND `store_name` = #{example.storeName}
        </if>
        <if test="example.storeNameLike != null">
          AND `store_name` like concat('%',#{example.storeNameLike},'%')
        </if>
        <if test="example.useType != null">
          AND `use_type` = #{example.useType}
        </if>
        <if test="example.limitQuota != null">
          AND `limit_quota` = #{example.limitQuota}
        </if>
        <if test="example.discountLimitAmount != null">
          AND `discount_limit_amount` = #{example.discountLimitAmount}
        </if>
        <if test="example.plusQualification != null">
          AND `plus_qualification` = #{example.plusQualification}
        </if>
        <if test="example.isPerQuota != null">
          AND `is_per_quota` = #{example.isPerQuota}
        </if>
        <if test="example.isRecommend != null">
          AND `is_recommend` = #{example.isRecommend}
        </if>
        <if test="example.channel != null">
          AND `channel` = #{example.channel}
        </if>
        <if test="example.createUserId != null">
          AND `create_user_id` = #{example.createUserId}
        </if>
        <if test="example.createUserName != null">
          AND `create_user_name` = #{example.createUserName}
        </if>
        <if test="example.createUserNameLike != null">
          AND `create_user_name` like concat('%',#{example.createUserNameLike},'%')
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `coupon_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.CouponExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_coupon`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_coupon`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_coupon`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_coupon`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_coupon`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_coupon`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="coupon_id" keyProperty="couponId" parameterType="com.slodon.b2b2c.promotion.pojo.Coupon" useGeneratedKeys="true">
    INSERT INTO `promotion_coupon`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="couponName != null">
        #{couponName},
      </if>
      <if test="couponContent != null">
        #{couponContent},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="publishType != null">
        #{publishType},
      </if>
      <if test="couponType != null">
        #{couponType},
      </if>
      <if test="consumeIntegral != null">
        #{consumeIntegral},
      </if>
      <if test="receivedNum != null">
        #{receivedNum},
      </if>
      <if test="usedNum != null">
        #{usedNum},
      </if>
      <if test="publishValue != null">
        #{publishValue},
      </if>
      <if test="randomMax != null">
        #{randomMax},
      </if>
      <if test="randomMin != null">
        #{randomMin},
      </if>
      <if test="publishAmount != null">
        #{publishAmount},
      </if>
      <if test="publishNum != null">
        #{publishNum},
      </if>
      <if test="publishStartTime != null">
        #{publishStartTime},
      </if>
      <if test="publishEndTime != null">
        #{publishEndTime},
      </if>
      <if test="limitReceive != null">
        #{limitReceive},
      </if>
      <if test="effectiveTimeType != null">
        #{effectiveTimeType},
      </if>
      <if test="effectiveStart != null">
        #{effectiveStart},
      </if>
      <if test="effectiveEnd != null">
        #{effectiveEnd},
      </if>
      <if test="cycle != null">
        #{cycle},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="storeName != null">
        #{storeName},
      </if>
      <if test="useType != null">
        #{useType},
      </if>
      <if test="limitQuota != null">
        #{limitQuota},
      </if>
      <if test="discountLimitAmount != null">
        #{discountLimitAmount},
      </if>
      <if test="plusQualification != null">
        #{plusQualification},
      </if>
      <if test="isPerQuota != null">
        #{isPerQuota},
      </if>
      <if test="isRecommend != null">
        #{isRecommend},
      </if>
      <if test="channel != null">
        #{channel},
      </if>
      <if test="createUserId != null">
        #{createUserId},
      </if>
      <if test="createUserName != null">
        #{createUserName},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_coupon`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.couponName != null">
        `coupon_name` = #{record.couponName},
      </if>
      <if test="record.couponContent != null">
        `coupon_content` = #{record.couponContent},
      </if>
      <if test="record.description != null">
        `description` = #{record.description},
      </if>
      <if test="record.publishType != null">
        `publish_type` = #{record.publishType},
      </if>
      <if test="record.couponType != null">
        `coupon_type` = #{record.couponType},
      </if>
      <if test="record.consumeIntegral != null">
        `consume_integral` = #{record.consumeIntegral},
      </if>
      <if test="record.receivedNum != null">
        `received_num` = #{record.receivedNum},
      </if>
      <if test="record.usedNum != null">
        `used_num` = #{record.usedNum},
      </if>
      <if test="record.publishValue != null">
        `publish_value` = #{record.publishValue},
      </if>
      <if test="record.randomMax != null">
        `random_max` = #{record.randomMax},
      </if>
      <if test="record.randomMin != null">
        `random_min` = #{record.randomMin},
      </if>
      <if test="record.publishAmount != null">
        `publish_amount` = #{record.publishAmount},
      </if>
      <if test="record.publishNum != null">
        `publish_num` = #{record.publishNum},
      </if>
      <if test="record.publishStartTime != null">
        `publish_start_time` = #{record.publishStartTime},
      </if>
      <if test="record.publishEndTime != null">
        `publish_end_time` = #{record.publishEndTime},
      </if>
      <if test="record.limitReceive != null">
        `limit_receive` = #{record.limitReceive},
      </if>
      <if test="record.effectiveTimeType != null">
        `effective_time_type` = #{record.effectiveTimeType},
      </if>
      <if test="record.effectiveStart != null">
        `effective_start` = #{record.effectiveStart},
      </if>
      <if test="record.effectiveEnd != null">
        `effective_end` = #{record.effectiveEnd},
      </if>
      <if test="record.cycle != null">
        `cycle` = #{record.cycle},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
      <if test="record.storeId != null">
        `store_id` = #{record.storeId},
      </if>
      <if test="record.storeName != null">
        `store_name` = #{record.storeName},
      </if>
      <if test="record.useType != null">
        `use_type` = #{record.useType},
      </if>
      <if test="record.limitQuota != null">
        `limit_quota` = #{record.limitQuota},
      </if>
      <if test="record.discountLimitAmount != null">
        `discount_limit_amount` = #{record.discountLimitAmount},
      </if>
      <if test="record.plusQualification != null">
        `plus_qualification` = #{record.plusQualification},
      </if>
      <if test="record.isPerQuota != null">
        `is_per_quota` = #{record.isPerQuota},
      </if>
      <if test="record.isRecommend != null">
        `is_recommend` = #{record.isRecommend},
      </if>
      <if test="record.channel != null">
        `channel` = #{record.channel},
      </if>
      <if test="record.createUserId != null">
        `create_user_id` = #{record.createUserId},
      </if>
      <if test="record.createUserName != null">
        `create_user_name` = #{record.createUserName},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_coupon`
    <trim prefix="SET" suffixOverrides=",">
      <if test="couponName != null">
        `coupon_name` = #{couponName},
      </if>
      <if test="couponContent != null">
        `coupon_content` = #{couponContent},
      </if>
      <if test="description != null">
        `description` = #{description},
      </if>
      <if test="publishType != null">
        `publish_type` = #{publishType},
      </if>
      <if test="couponType != null">
        `coupon_type` = #{couponType},
      </if>
      <if test="consumeIntegral != null">
        `consume_integral` = #{consumeIntegral},
      </if>
      <if test="receivedNum != null">
        `received_num` = #{receivedNum},
      </if>
      <if test="usedNum != null">
        `used_num` = #{usedNum},
      </if>
      <if test="publishValue != null">
        `publish_value` = #{publishValue},
      </if>
      <if test="randomMax != null">
        `random_max` = #{randomMax},
      </if>
      <if test="randomMin != null">
        `random_min` = #{randomMin},
      </if>
      <if test="publishAmount != null">
        `publish_amount` = #{publishAmount},
      </if>
      <if test="publishNum != null">
        `publish_num` = #{publishNum},
      </if>
      <if test="publishStartTime != null">
        `publish_start_time` = #{publishStartTime},
      </if>
      <if test="publishEndTime != null">
        `publish_end_time` = #{publishEndTime},
      </if>
      <if test="limitReceive != null">
        `limit_receive` = #{limitReceive},
      </if>
      <if test="effectiveTimeType != null">
        `effective_time_type` = #{effectiveTimeType},
      </if>
      <if test="effectiveStart != null">
        `effective_start` = #{effectiveStart},
      </if>
      <if test="effectiveEnd != null">
        `effective_end` = #{effectiveEnd},
      </if>
      <if test="cycle != null">
        `cycle` = #{cycle},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="storeId != null">
        `store_id` = #{storeId},
      </if>
      <if test="storeName != null">
        `store_name` = #{storeName},
      </if>
      <if test="useType != null">
        `use_type` = #{useType},
      </if>
      <if test="limitQuota != null">
        `limit_quota` = #{limitQuota},
      </if>
      <if test="discountLimitAmount != null">
        `discount_limit_amount` = #{discountLimitAmount},
      </if>
      <if test="plusQualification != null">
        `plus_qualification` = #{plusQualification},
      </if>
      <if test="isPerQuota != null">
        `is_per_quota` = #{isPerQuota},
      </if>
      <if test="isRecommend != null">
        `is_recommend` = #{isRecommend},
      </if>
      <if test="channel != null">
        `channel` = #{channel},
      </if>
      <if test="createUserId != null">
        `create_user_id` = #{createUserId},
      </if>
      <if test="createUserName != null">
        `create_user_name` = #{createUserName},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
    </trim>
    WHERE `coupon_id` = #{couponId}
  </update>
</mapper>