<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.DiscountGoodsWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.DiscountGoods">
    <id column="discount_goods_id" property="discountGoodsId" />
    <result column="goods_id" property="goodsId" />
    <result column="discount_id" property="discountId" />
    <result column="store_id" property="storeId" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="discountGoodsId != null">
        `discount_goods_id`,
      </if>
      <if test="goodsId != null">
        `goods_id`,
      </if>
      <if test="discountId != null">
        `discount_id`,
      </if>
      <if test="storeId != null">
        `store_id`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `discount_goods_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.discountGoodsIdNotEquals != null">
          AND `discount_goods_id` != #{example.discountGoodsIdNotEquals}
        </if>
        <if test="example.discountGoodsIdIn != null">
          AND `discount_goods_id` in (${example.discountGoodsIdIn})
        </if>
        <if test="example.goodsId != null">
          AND `goods_id` = #{example.goodsId}
        </if>
        <if test="example.discountId != null">
          AND `discount_id` = #{example.discountId}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `discount_goods_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.DiscountGoodsExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_discount_goods`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_goods`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_discount_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_discount_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_discount_goods`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_discount_goods`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_discount_goods`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="discount_goods_id" keyProperty="discountGoodsId" parameterType="com.slodon.b2b2c.promotion.pojo.DiscountGoods" useGeneratedKeys="true">
    INSERT INTO `promotion_discount_goods`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="discountGoodsId != null">
        #{discountGoodsId},
      </if>
      <if test="goodsId != null">
        #{goodsId},
      </if>
      <if test="discountId != null">
        #{discountId},
      </if>
      <if test="storeId != null">
        #{storeId},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_discount_goods`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.goodsId != null">
        `goods_id` = #{record.goodsId},
      </if>
      <if test="record.discountId != null">
        `discount_id` = #{record.discountId},
      </if>
      <if test="record.storeId != null">
        `store_id` = #{record.storeId},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_discount_goods`
    <trim prefix="SET" suffixOverrides=",">
      <if test="goodsId != null">
        `goods_id` = #{goodsId},
      </if>
      <if test="discountId != null">
        `discount_id` = #{discountId},
      </if>
      <if test="storeId != null">
        `store_id` = #{storeId},
      </if>
    </trim>
    WHERE `discount_goods_id` = #{discountGoodsId}
  </update>
</mapper>