<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.LadderGroupRuleWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.LadderGroupRule">
    <id column="rule_id" property="ruleId" />
    <result column="group_id" property="groupId" />
    <result column="join_group_num" property="joinGroupNum" />
    <result column="ladder_level" property="ladderLevel" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="groupId != null">
        `group_id`,
      </if>
      <if test="joinGroupNum != null">
        `join_group_num`,
      </if>
      <if test="ladderLevel != null">
        `ladder_level`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `rule_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.ruleIdNotEquals != null">
          AND `rule_id` != #{example.ruleIdNotEquals}
        </if>
        <if test="example.ruleIdIn != null">
          AND `rule_id` in (${example.ruleIdIn})
        </if>
        <if test="example.groupId != null">
          AND `group_id` = #{example.groupId}
        </if>
        <if test="example.joinGroupNum != null">
          AND `join_group_num` = #{example.joinGroupNum}
        </if>
        <if test="example.ladderLevel != null">
          AND `ladder_level` = #{example.ladderLevel}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `rule_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.LadderGroupRuleExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_ladder_group_rule`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_ladder_group_rule`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_ladder_group_rule`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="rule_id" keyProperty="ruleId" parameterType="com.slodon.b2b2c.promotion.pojo.LadderGroupRule" useGeneratedKeys="true">
    INSERT INTO `promotion_ladder_group_rule`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="groupId != null">
        #{groupId},
      </if>
      <if test="joinGroupNum != null">
        #{joinGroupNum},
      </if>
      <if test="ladderLevel != null">
        #{ladderLevel},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_ladder_group_rule`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.groupId != null">
        `group_id` = #{record.groupId},
      </if>
      <if test="record.joinGroupNum != null">
        `join_group_num` = #{record.joinGroupNum},
      </if>
      <if test="record.ladderLevel != null">
        `ladder_level` = #{record.ladderLevel},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_ladder_group_rule`
    <trim prefix="SET" suffixOverrides=",">
      <if test="groupId != null">
        `group_id` = #{groupId},
      </if>
      <if test="joinGroupNum != null">
        `join_group_num` = #{joinGroupNum},
      </if>
      <if test="ladderLevel != null">
        `ladder_level` = #{ladderLevel},
      </if>
    </trim>
    WHERE `rule_id` = #{ruleId}
  </update>
</mapper>