<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.PresellWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.Presell">
    <id column="presell_id" property="presellId" />
    <result column="presell_name" property="presellName" />
    <result column="presell_label_id" property="presellLabelId" />
    <result column="presell_label_name" property="presellLabelName" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="store_id" property="storeId" />
    <result column="store_name" property="storeName" />
    <result column="state" property="state" />
    <result column="type" property="type" />
    <result column="buy_limit" property="buyLimit" />
    <result column="deliver_time_type" property="deliverTimeType" />
    <result column="deliver_time" property="deliverTime" />
    <result column="remain_start_time" property="remainStartTime" />
    <result column="remain_end_time" property="remainEndTime" />
    <result column="deliver_start_time" property="deliverStartTime" />
    <result column="deposit_compensate" property="depositCompensate" />
    <result column="create_vendor_id" property="createVendorId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="presellName != null">
        `presell_name`,
      </if>
      <if test="presellLabelId != null">
        `presell_label_id`,
      </if>
      <if test="presellLabelName != null">
        `presell_label_name`,
      </if>
      <if test="startTime != null">
        `start_time`,
      </if>
      <if test="endTime != null">
        `end_time`,
      </if>
      <if test="storeId != null">
        `store_id`,
      </if>
      <if test="storeName != null">
        `store_name`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="buyLimit != null">
        `buy_limit`,
      </if>
      <if test="deliverTimeType != null">
        `deliver_time_type`,
      </if>
      <if test="deliverTime != null">
        `deliver_time`,
      </if>
      <if test="remainStartTime != null">
        `remain_start_time`,
      </if>
      <if test="remainEndTime != null">
        `remain_end_time`,
      </if>
      <if test="deliverStartTime != null">
        `deliver_start_time`,
      </if>
      <if test="depositCompensate != null">
        `deposit_compensate`,
      </if>
      <if test="createVendorId != null">
        `create_vendor_id`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `presell_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.presellIdNotEquals != null">
          AND `presell_id` != #{example.presellIdNotEquals}
        </if>
        <if test="example.presellIdIn != null">
          AND `presell_id` in (${example.presellIdIn})
        </if>
        <if test="example.presellName != null">
          AND `presell_name` = #{example.presellName}
        </if>
        <if test="example.presellNameLike != null">
          AND `presell_name` like concat('%',#{example.presellNameLike},'%')
        </if>
        <if test="example.presellLabelId != null">
          AND `presell_label_id` = #{example.presellLabelId}
        </if>
        <if test="example.presellLabelName != null">
          AND `presell_label_name` = #{example.presellLabelName}
        </if>
        <if test="example.presellLabelNameLike != null">
          AND `presell_label_name` like concat('%',#{example.presellLabelNameLike},'%')
        </if>
        <if test="example.startTimeAfter != null">
          AND `start_time` <![CDATA[ >= ]]> #{example.startTimeAfter}
        </if>
        <if test="example.startTimeBefore != null">
          AND `start_time` <![CDATA[ <= ]]> #{example.startTimeBefore}
        </if>
        <if test="example.endTimeAfter != null">
          AND `end_time` <![CDATA[ >= ]]> #{example.endTimeAfter}
        </if>
        <if test="example.endTimeBefore != null">
          AND `end_time` <![CDATA[ <= ]]> #{example.endTimeBefore}
        </if>
        <if test="example.storeId != null">
          AND `store_id` = #{example.storeId}
        </if>
        <if test="example.storeName != null">
          AND `store_name` = #{example.storeName}
        </if>
        <if test="example.storeNameLike != null">
          AND `store_name` like concat('%',#{example.storeNameLike},'%')
        </if>
        <if test="example.state != null">
          AND `state` = #{example.state}
        </if>
        <if test="example.type != null">
          AND `type` = #{example.type}
        </if>
        <if test="example.buyLimit != null">
          AND `buy_limit` = #{example.buyLimit}
        </if>
        <if test="example.deliverTimeType != null">
          AND `deliver_time_type` = #{example.deliverTimeType}
        </if>
        <if test="example.deliverTimeAfter != null">
          AND `deliver_time` <![CDATA[ >= ]]> #{example.deliverTimeAfter}
        </if>
        <if test="example.deliverTimeBefore != null">
          AND `deliver_time` <![CDATA[ <= ]]> #{example.deliverTimeBefore}
        </if>
        <if test="example.remainStartTimeAfter != null">
          AND `remain_start_time` <![CDATA[ >= ]]> #{example.remainStartTimeAfter}
        </if>
        <if test="example.remainStartTimeBefore != null">
          AND `remain_start_time` <![CDATA[ <= ]]> #{example.remainStartTimeBefore}
        </if>
        <if test="example.remainEndTimeAfter != null">
          AND `remain_end_time` <![CDATA[ >= ]]> #{example.remainEndTimeAfter}
        </if>
        <if test="example.remainEndTimeBefore != null">
          AND `remain_end_time` <![CDATA[ <= ]]> #{example.remainEndTimeBefore}
        </if>
        <if test="example.deliverStartTime != null">
          AND `deliver_start_time` = #{example.deliverStartTime}
        </if>
        <if test="example.depositCompensate != null">
          AND `deposit_compensate` = #{example.depositCompensate}
        </if>
        <if test="example.createVendorId != null">
          AND `create_vendor_id` = #{example.createVendorId}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.updateTimeAfter != null">
          AND `update_time` <![CDATA[ >= ]]> #{example.updateTimeAfter}
        </if>
        <if test="example.updateTimeBefore != null">
          AND `update_time` <![CDATA[ <= ]]> #{example.updateTimeBefore}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `presell_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.PresellExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_presell`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_presell`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_presell`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_presell`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_presell`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_presell`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_presell`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_presell`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="presell_id" keyProperty="presellId" parameterType="com.slodon.b2b2c.promotion.pojo.Presell" useGeneratedKeys="true">
    INSERT INTO `promotion_presell`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="presellName != null">
        #{presellName},
      </if>
      <if test="presellLabelId != null">
        #{presellLabelId},
      </if>
      <if test="presellLabelName != null">
        #{presellLabelName},
      </if>
      <if test="startTime != null">
        #{startTime},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="storeName != null">
        #{storeName},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="buyLimit != null">
        #{buyLimit},
      </if>
      <if test="deliverTimeType != null">
        #{deliverTimeType},
      </if>
      <if test="deliverTime != null">
        #{deliverTime},
      </if>
      <if test="remainStartTime != null">
        #{remainStartTime},
      </if>
      <if test="remainEndTime != null">
        #{remainEndTime},
      </if>
      <if test="deliverStartTime != null">
        #{deliverStartTime},
      </if>
      <if test="depositCompensate != null">
        #{depositCompensate},
      </if>
      <if test="createVendorId != null">
        #{createVendorId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_presell`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.presellName != null">
        `presell_name` = #{record.presellName},
      </if>
      <if test="record.presellLabelId != null">
        `presell_label_id` = #{record.presellLabelId},
      </if>
      <if test="record.presellLabelName != null">
        `presell_label_name` = #{record.presellLabelName},
      </if>
      <if test="record.startTime != null">
        `start_time` = #{record.startTime},
      </if>
      <if test="record.endTime != null">
        `end_time` = #{record.endTime},
      </if>
      <if test="record.storeId != null">
        `store_id` = #{record.storeId},
      </if>
      <if test="record.storeName != null">
        `store_name` = #{record.storeName},
      </if>
      <if test="record.state != null">
        `state` = #{record.state},
      </if>
      <if test="record.type != null">
        `type` = #{record.type},
      </if>
      <if test="record.buyLimit != null">
        `buy_limit` = #{record.buyLimit},
      </if>
      <if test="record.deliverTimeType != null">
        `deliver_time_type` = #{record.deliverTimeType},
      </if>
      <if test="record.deliverTime != null">
        `deliver_time` = #{record.deliverTime},
      </if>
      <if test="record.remainStartTime != null">
        `remain_start_time` = #{record.remainStartTime},
      </if>
      <if test="record.remainEndTime != null">
        `remain_end_time` = #{record.remainEndTime},
      </if>
      <if test="record.deliverStartTime != null">
        `deliver_start_time` = #{record.deliverStartTime},
      </if>
      <if test="record.depositCompensate != null">
        `deposit_compensate` = #{record.depositCompensate},
      </if>
      <if test="record.createVendorId != null">
        `create_vendor_id` = #{record.createVendorId},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.updateTime != null">
        `update_time` = #{record.updateTime},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_presell`
    <trim prefix="SET" suffixOverrides=",">
      <if test="presellName != null">
        `presell_name` = #{presellName},
      </if>
      <if test="presellLabelId != null">
        `presell_label_id` = #{presellLabelId},
      </if>
      <if test="presellLabelName != null">
        `presell_label_name` = #{presellLabelName},
      </if>
      <if test="startTime != null">
        `start_time` = #{startTime},
      </if>
      <if test="endTime != null">
        `end_time` = #{endTime},
      </if>
      <if test="storeId != null">
        `store_id` = #{storeId},
      </if>
      <if test="storeName != null">
        `store_name` = #{storeName},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="buyLimit != null">
        `buy_limit` = #{buyLimit},
      </if>
      <if test="deliverTimeType != null">
        `deliver_time_type` = #{deliverTimeType},
      </if>
      <if test="deliverTime != null">
        `deliver_time` = #{deliverTime},
      </if>
      <if test="remainStartTime != null">
        `remain_start_time` = #{remainStartTime},
      </if>
      <if test="remainEndTime != null">
        `remain_end_time` = #{remainEndTime},
      </if>
      <if test="deliverStartTime != null">
        `deliver_start_time` = #{deliverStartTime},
      </if>
      <if test="depositCompensate != null">
        `deposit_compensate` = #{depositCompensate},
      </if>
      <if test="createVendorId != null">
        `create_vendor_id` = #{createVendorId},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime},
      </if>
    </trim>
    WHERE `presell_id` = #{presellId}
  </update>
</mapper>