<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slodon.b2b2c.dao.write.promotion.SpellLabelWriteMapper">
  <resultMap id="resultMap" type="com.slodon.b2b2c.promotion.pojo.SpellLabel">
    <id column="spell_label_id" property="spellLabelId" />
    <result column="spell_label_name" property="spellLabelName" />
    <result column="is_show" property="isShow" />
    <result column="sort" property="sort" />
    <result column="create_time" property="createTime" />
    <result column="create_admin_id" property="createAdminId" />
  </resultMap>
  <!--除主键外的所有字段，用于插入操作-->
  <sql id="columns">
    <trim suffixOverrides=",">
      <if test="spellLabelName != null">
        `spell_label_name`,
      </if>
      <if test="isShow != null">
        `is_show`,
      </if>
      <if test="sort != null">
        `sort`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="createAdminId != null">
        `create_admin_id`,
      </if>
    </trim>
  </sql>
  <!--按照主键值进行操作-->
  <sql id="pkWhere">
    WHERE `spell_label_id` = #{primaryKey}
  </sql>
  <!--操作条件-->
  <sql id="whereCondition">
    <if test="example != null">
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="example.spellLabelIdNotEquals != null">
          AND `spell_label_id` != #{example.spellLabelIdNotEquals}
        </if>
        <if test="example.spellLabelIdIn != null">
          AND `spell_label_id` in (${example.spellLabelIdIn})
        </if>
        <if test="example.spellLabelName != null">
          AND `spell_label_name` = #{example.spellLabelName}
        </if>
        <if test="example.spellLabelNameLike != null">
          AND `spell_label_name` like concat('%',#{example.spellLabelNameLike},'%')
        </if>
        <if test="example.isShow != null">
          AND `is_show` = #{example.isShow}
        </if>
        <if test="example.sort != null">
          AND `sort` = #{example.sort}
        </if>
        <if test="example.createTimeAfter != null">
          AND `create_time` <![CDATA[ >= ]]> #{example.createTimeAfter}
        </if>
        <if test="example.createTimeBefore != null">
          AND `create_time` <![CDATA[ <= ]]> #{example.createTimeBefore}
        </if>
        <if test="example.createAdminId != null">
          AND `create_admin_id` = #{example.createAdminId}
        </if>
      </trim>
    </if>
  </sql>
  <!--排序条件-->
  <sql id="orderBy">
    ORDER BY `spell_label_id` DESC
  </sql>
  <sql id="orderByOther">
    order by ${example.orderBy}
  </sql>
  <!--分组条件-->
  <sql id="groupBy">
    group by ${example.groupBy}
  </sql>
  <!--分页条件-->
  <sql id="limit">
    <if test="size != null and size &gt; 0">
      limit #{startRow},#{size}
    </if>
  </sql>
  <!--查询符合条件的记录数-->
  <select id="countByExample" parameterType="com.slodon.b2b2c.promotion.example.SpellLabelExample" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM `promotion_spell_label`
    <include refid="whereCondition" />
  </select>
  <!--根据主键查询记录-->
  <select id="getByPrimaryKey" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_label`
    <include refid="pkWhere" />
  </select>
  <!--查询符合条件的记录(所有字段)-->
  <select id="listByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(所有字段)-->
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
      *
    FROM `promotion_spell_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--查询符合条件的记录(指定字段)-->
  <select id="listFieldsByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_spell_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
  </select>
  <!--分页查询符合条件的记录(指定字段)-->
  <select id="listFieldsPageByExample" resultMap="resultMap">
    SELECT
      ${fields}
    FROM `promotion_spell_label`
    <include refid="whereCondition" />
    <if test="example.groupBy != null">
      <include refid="groupBy" />
    </if>
    <choose>
      <when test="example.orderBy != null">
        <include refid="orderByOther" />
      </when>
      <otherwise>
        <include refid="orderBy" />
      </otherwise>
    </choose>
    <include refid="limit" />
  </select>
  <!--根据条件删除记录，可多条删除-->
  <delete id="deleteByExample">
    DELETE FROM `promotion_spell_label`
    <include refid="whereCondition" />
  </delete>
  <!--根据主键删除记录-->
  <delete id="deleteByPrimaryKey">
    DELETE FROM `promotion_spell_label`
    <include refid="pkWhere" />
  </delete>
  <!--插入一条记录-->
  <insert id="insert" keyColumn="spell_label_id" keyProperty="spellLabelId" parameterType="com.slodon.b2b2c.promotion.pojo.SpellLabel" useGeneratedKeys="true">
    INSERT INTO `promotion_spell_label`(
    <include refid="columns" />
    )
    VALUES(
    <trim suffixOverrides=",">
      <if test="spellLabelName != null">
        #{spellLabelName},
      </if>
      <if test="isShow != null">
        #{isShow},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="createAdminId != null">
        #{createAdminId},
      </if>
    </trim>
    )
  </insert>
  <!--按条件更新记录中不为空的字段-->
  <update id="updateByExampleSelective">
    UPDATE `promotion_spell_label`
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.spellLabelName != null">
        `spell_label_name` = #{record.spellLabelName},
      </if>
      <if test="record.isShow != null">
        `is_show` = #{record.isShow},
      </if>
      <if test="record.sort != null">
        `sort` = #{record.sort},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime},
      </if>
      <if test="record.createAdminId != null">
        `create_admin_id` = #{record.createAdminId},
      </if>
    </trim>
    <include refid="whereCondition" />
  </update>
  <!--按照主键更新记录中不为空的字段-->
  <update id="updateByPrimaryKeySelective">
    UPDATE `promotion_spell_label`
    <trim prefix="SET" suffixOverrides=",">
      <if test="spellLabelName != null">
        `spell_label_name` = #{spellLabelName},
      </if>
      <if test="isShow != null">
        `is_show` = #{isShow},
      </if>
      <if test="sort != null">
        `sort` = #{sort},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="createAdminId != null">
        `create_admin_id` = #{createAdminId},
      </if>
    </trim>
    WHERE `spell_label_id` = #{spellLabelId}
  </update>
</mapper>